
*{
    list-style: none;
    padding:0;
    margin:0;
}
body{
    font-family:  Helvetica;
    background-color: #eee;
}

.doctorshow{
    width:100%;
    height: auto;
}
.dot_main img,.my_button img{
    width:100%;
}

.my_button{
    padding:3% 6%;
}

.dot_main{
    width:100%;
}

.pre_des{
    /*margin:0 20%;*/
    /*height:80px;*/
    color:#fff;
    margin-top:95px;
    background:rgba(0,0,0,0.5);
    width:100vw;
    padding:2vh 0 1vh 0;
    overflow: hidden;
    /*clear: both;*/
    /* float: left;*/
}
.infomation{
    float:left;
    position:relative;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 16px;

}

.headimg{
    float: left;
}
.headimg img{
    width:25vw;
    height:25vw;
    border-radius: 16vw;
    border:3px solid #fff;
}
.jies{
    float: left;
    margin:5px 0 0 20px;

}
.jies p{
    line-height: 20px;
    margin-top:2px;
    margin-bottom: 10px;
}
.number{
    color: #46a0f0;
}

p.time{
    text-align: center;
}
.btn3_box{
    width: 100%;
    text-align: center;
}
.btn3_box img{
    width: 114px;
    height: 190px;
    margin-top: 50px;
}

/*改版的样式*/
.arror{

    width:40vw;
    margin-left: calc(50% - 20vw);
    display: block;
}
/*.call_btn{
    border:none;
    height:15vh;
    width:15vh;
    background: url("images/call_btn.png");
    background-size:15vh 15vh;
    margin-left: calc(50% - 7.5vh);
    margin-top: 5px;
}*/
.adviser_call{
    width:100%;
    position: fixed;
    bottom:0px;

}


/*2017-01-05*/
.phone_list{
    width:92vw;
    margin:0 auto;

}
.phone_list li{
    width:100%;
    margin-top:12px;
    /* background-color:#fff;*/
    height: 10vw;
}
.phone_list li:first-child{
    margin-top:8px;
    height:30px;
    background:rgba(80, 184, 268, 0.7);
}
.phone_list li:first-child p{
    display: inline-block;
    margin:0;
    padding:0;
    font-size: 12px;
    line-height: 30px;
    color:#fff;
    text-align: center;
    width:100%;
    /*font-size: 9px;
    -webkit-transform: scale(0.75);*/
}
.phone_list li input{
    width:calc(100% - 9px);
    height: calc(10vw - 6px);
    margin:2px;
    box-sizing: content-box;
    padding-left:3px;
    background:none;
    border:1px solid #64d0ff;
    font-size: 19px;
    background-color:#fff;

}

.phone_list li button {
    width: 100%;
    height: 100%;
    color: #fff;
    /* background: rgba(50, 164, 238, 1);*/
    background: #64d0ff;
    border: none;
    /*font-weight: bold;*/
    letter-spacing: 0.5px;
    font-family: '宋体';
    font-size: 19px;
}
#change{
    -webkit-animation:run 3s linear 0s infinite;
}

@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }

}


.phone_list li:nth-child(2){
    background-color:#fff;
    margin-top:-3px;

}

.phone_list .verification{
    height: 10vw;
    margin-bottom:15px;
    overflow: hidden;


}
.phone_list .verification button{
    width:100px;
    float:right;
    background: #64d0ff;
    height: calc(10vw - 3px);
    margin-top:1px;
    margin-right: 2px;
    letter-spacing: 0;
    font-size: 17px;
}
.phone_list .verification input{
    float:left;
    width: calc(100% - 10px);

}
.ver_wrap{
    width:calc(100% - 115px);
    height:100%;
    margin:0;
    display: inline-block;
    background-color:#fff;
}

/*#alert{
    display: block;
    background:none;
    width:80%;

}*/
/*
���ֲ�͵�����ʽ*/
.gray{
    width:100%;
    height:100%;
    z-index: 10;
    left: 0;
    top:0;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
    display:none;
    position:fixed;
}
.alert{
    background: #FFF;
    width:calc(100% - 74px);
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
    display:none;
    position:fixed;
    padding:18px;
    margin:0;
}
.alert .form_list{
    margin-top:9px;
}
.alert .form_list li{
    margin-top:15px;
    width:100%;
}
.alert .form_list li input{
    width:100%;
    height:44px;
    box-sizing: border-box;
    padding-left:8px;
    border-radius: 4px;
    border:1px solid #bfbfbf;
    font-size: 15px;
    color: #535353;
}
.alert .form_list li button{
    background: rgba(50,164,238,0.50);
    border-radius: 4px;
    height:44px;
    border:none;
    font-size: 15px;
    color: #FFF;
    width:100%;
}
.alert .form_list .verification{
    float:right;
    height:44px;
    margin-bottom:15px;
}

.alert .form_list .verification button{
    width:100px;
    float:right;
    background: rgba(50,164,238,0.50);
}
.alert .form_list .verification input{
    float:left;
    width: calc(100% - 115px);

}
.alert .alerthead{
    height:auto;

}
.alert .alerthead i{
    font-style:normal;
    font-size:19px;
    width:100%;
    display: block;
    text-align: center;
    color:#535353;
}

.red{
    font-size: 15px;
    color: #FF3B30;
    display: none;
}
.closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
    margin:-10px ;
    background: #FFFFFF;
    padding:0
}
.closeAlert img{
    width:100%;
    height:100%;
}

/*��ȡ��Ϣ�󵯴�*/
.cushion{
    width:100%;
    margin-top:18px;
}
.cushion img{
    height:59px;
    width:59px;
    margin:0 auto;
    display:block;

}
.alert_inf{
    margin:24px auto 0 auto;
}
.alert_inf p{
    text-align: center;
    font-size: 17px;
    color: #33A5EE;
    letter-spacing: 0;
    margin-bottom:8px;
}
.alert i{
    font-style: normal;
    font-size: 15px;
    color: #535353;
    letter-spacing: 0;
    text-align: center;
    display: block;
    margin-bottom:22px;
}
.alert em{
    font-style: normal;
    font-size: 15px;
    color: #B3B3B3;
    letter-spacing: 0;
    text-align: center;
    display: block;
}
#center403{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*预约页样式*/
.book_back{
    width:100%;
    height:auto;
    position:absolute;
    bottom: 0;
    padding-bottom: 2%;

}
.book_list{
    padding:20px 30px;
    color:#fff;
    width:100%;
    margin:0px;
    font-size:19px;
}
.book_list li:first-child{
    margin:0;
}
.book_list li{
    width:100%;
    border:1px solid #fff;
    margin-top: 5%;
    height: 44px;
}
.book_list li label{
    width:20%;
    display: inline-block;
    text-align-last: justify;
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    padding-left:10px;
    height:44px;
    line-height: 44px;
    box-sizing: content-box;
    margin:0;
}
.book_list li input{
    background-color: transparent;
    width:calc(80% - 20px);
    border:none;
}
.book_list li:nth-child(2) input{
    width:calc(50% - 20px);

}
.book_list li button{
    width:29%;
    background:none ;
    border:none;
    border-left:1px solid #fff;
    font-size: 16px;
    height: 42px;
    line-height:44px;
    margin:0;
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    .book_list{
        font-size: 15px;
    }
    .book_list li button{
        width:30%;
        font-size: 14px;
        height: 42px;
        line-height:40px;
    }
    .infomation{
        font-size: 14px;
    }
    .jies{
        margin:0 0 0 20px;
    }
    .jies p{
        margin-bottom:8px;
    }
}


.book_list .book_btn{
    height: 35px;
    background-color: rgba(50,164,238,0.50);
    border:none;
    border-radius: 4px;
    box-sizing: border-box;
}
.book_list .book_btn button{
    border:1px solid #fff;
    width:calc(100% - 10px);
    height:calc(100% - 6px);
    margin:3px 5px;
    font-size: 19px;
    font-weight: bold;
    line-height: calc(100% - 6px);
}