<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>我的会员卡</title>
    <link href="../general_file/general_css.css" rel="stylesheet" type="text/css" />
    <link href="member_recharge.css" rel="stylesheet" type="text/css" />


    <!-- Vue -->
    <!--  <script src="lib/vue.min.js"></script>
      <script src="lib/vue-resource.min.js"></script>-->

    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.1/vue-resource.min.js"></script>

    <script src="../general_file/general_js.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
</head>
<body style="background-color: #eee">

<div class="content">
    <div v-show="contentDisplay" style="display: none">
        <div class="top">
            <div class="new_circle">
                <div class="circle">
                    <div class="pie_left">
                        <div class="left" v-bind:style="{transform:'rotate('+leftRotateNum+'deg)'}"></div>
                    </div>
                    <div class="pie_right">
                        <div class="right" v-bind:style="{transform:'rotate('+rightRotateNum+'deg)'}"></div>
                    </div>
                    <div class="mask">
                        <!-- <span>0</span>%-->
                        <div class="circle-content">
                            <span>可用额度</span>
                            <p v-text="balance"></p>
                            <button v-on:click="getDeg">额度详情</button>
                        </div>
                    </div>
                </div>
            </div>


            <p>会员额度用于抵扣代金券及返现金额</p>
        </div>
        <div class="product">
            <h4>额度充值</h4>
            <div class="product-list" v-for="item in membershipVals" v-on:click="buy(item.cost)">
                <div class="list-left">
                    <p><span v-text="item.benefitVal"></span>元</p>
                </div>
                <div class="list-right"  >
                    <p v-text="item.describe"></p>
                    <div class="intro">
                        <em>有效期30天</em>
                        <i>购买</i>
                    </div>


                </div>
            </div>
        </div>

        <p class="apple-pay" v-on:click="otherBuy(membershipVals[0].cost)" v-if="otherBuyDisplay && isVersionPass">苹果支付遇到问题</p>
    </div>

    <div v-show="isPaymentSucc" style="display: none">
        <div class="success">
            <img src="images/success@2x.png" height="75" width="75"/>
            <p id="succFlag" style="width:100%">支付成功</p>
        </div>

        <p v-on:click="complete()"  type="button"  class="ad_button wd"  style="margin:0 auto;
        text-align: center; line-height:44px;font-size: 17px;color: #FFFFFF">完成</p>
    </div>

    <div v-if="isLoading">
        <div class="gen-gray-back"></div>
        <div class="alert" style="padding:15px; width:170px; background-color:rgba(255,255,255,0.0);" id="suc_alert">

            <div class="cushion">
                <img src="../apply_doctor/images/Loading@3x@3x.png" id="change">
            </div>

        </div>
    </div>
</div>

<!--<p class="deadline">购买之日起30天内有效</p>-->
</div>




</body>
<script src="../apply_doctor/lib/connectWebViewJavascriptBridge.js"></script>
<script>
    var webBridge = webViewBridge();
    webBridge.bridgeInit(function (bridge) {
        bridge.registerHandler('checkPaymentStatus', function(data,responseCallback){
            vm.isLoading=true;
            var info = data;
            info = JSON.parse(info);
            if(info.payType != "iap"){
                setTimeout(function(){$.ajax({
                    type: "GET",
                    url: "/1/order/prepareOrderStatus?prepareId="+info.prepayId+"&type=membership",
                    headers: {
                        "x-docchat-user-id":info.userId,
                        "x-docchat-session-token":info.token
                    },
                    success: function(rs){
                        vm.isLoading=false;
                        if(rs.payStatus == "paid"){
                            vm.isPaymentSucc = true;
                            vm.contentDisplay = false;
                            vm.totalVal = Number(vm.totalVal) + 300;
                            vm.balance = Number(vm.balance) + 300;
                            sessionStorage.setItem("balance",vm.balance);
                            sessionStorage.setItem("totalVal",vm.totalVal);
                        }else{
                            alert("支付失败")
                        }
                    },
                    error: function(err){
                        vm.isLoading=false;
                        alert("支付失败");
                    }
                });},1500);
            }else{
                vm.isLoading=false;
                vm.isPaymentSucc = true;
                vm.contentDisplay = false;
                vm.totalVal = Number(vm.totalVal) + 300;
                vm.balance = Number(vm.balance) + 300;
                sessionStorage.setItem("balance",vm.balance);
                sessionStorage.setItem("totalVal",vm.totalVal);
            }


        });
        bridge.registerHandler('goBack', function (data,responseCallback) {
            if(!vm.contentDisplay && vm.isPaymentSucc){
                vm.contentDisplay=true;
                vm.isPaymentSucc = false;
            }else{
                var result = {};
                result.isClose = true;
                responseCallback(JSON.stringify(result));
            }

        });
    });
    var urlData=getUrlQueryObject();
    var vm=new Vue({
        el:".content",
        data:{
            totalVal:0,
            client: urlData.client,
            isVersionPass :!(urlData.isVersionPass == 'false'),
            userId : urlData.userId,
            token : urlData.token,
            balance :0,
            membershipVals : [],
            isPaymentSucc : false,
            contentDisplay : true,
            otherBuyDisplay : false,
            isLoading:false,
            detailCount:0,
            leftRotateNum:0,
            rightRotateNum:0,
            infoData:{}
        },
        mounted:function(){
            this.isLoading = false;
            this.$http({
                method: 'GET',
                url: "/1/customer/getMembershipInfo",
                headers : {
                    "x-docchat-user-id":urlData.userId,
                    "x-docchat-session-token":urlData.token
                }}).then(function(res){
                    console.log(res.body);
                    this.infoData=res.body;
                    this.balance=Math.round(this. getValue("balance")* 100)/100;
                    this.totalVal=this. getValue("totalVal");
                    this.membershipVals=res.body.membershipVals;
                    this.membershipVals = JSON.parse(JSON.stringify(this.membershipVals));
                    console.log(this.membershipVals );
                    this.membershipVals.forEach(function(item){
                        item.describe = item.cost+'元购买'+item.benefitVal+'元会员额度'
                    });
                });
            sessionStorage.setItem("userId", this.userId);
            sessionStorage.setItem("token", this.token);
            if(this.client == "ios"){
                this.otherBuyDisplay = true
            }
            var isD=!(sessionStorage.getItem('isDetail') == 'true');
            console.log(isD);
            /*if(data.from == "banner" && isD){
                this.contentDisplay=false;
                getTitle("会员计划");
            }*/
        },
        methods: {
            getValue:function(_value){
                if(_value=="totalVal"){
                    var totalVal=vm.infoData.totalVal < sessionStorage.getItem("totalVal") ? sessionStorage.getItem("totalVal") : vm.infoData.totalVal;
                    return totalVal;
                }else if(_value=="balance"){
                    var balance=vm.infoData.balance < sessionStorage.getItem("balance") ? sessionStorage.getItem("balance") : vm.infoData.balance;
                    return balance;
                }
            },
            getDeg: function(){
                sessionStorage.setItem('isDetail',true);
                window.location="memberRechargeDetail.html";
            },
            applyBuy : function(price){
                var data={};
                data.type = "membership";
                data.price = price;
                data.payType = "iap";
                this.$http({
                    method: 'POST',
                    url: "/1/order/service",
                    headers : {
                        "x-docchat-user-id":this.userId,
                        "x-docchat-session-token":this.token
                    },
                    body:data
                }).then(function (rs) {
                    this.isLoading=false;
                    rs = rs.body;
                    if(!rs.prepayId){
                        alert("生成支付订单失败，请重试");
                    }else{
                        var appleData = {
                            productId : "0001",
                            prepayId : rs.prepayId
                        }
                        console.log(appleData);
                        webBridge.upload("applePayment",JSON.stringify(appleData))
                    }
                },function(err){
                    this.isLoading=false;
                    if(JSON.parse(err.responseText).code == 1604){
                        alert("已领取过");
                    }else if(JSON.parse(err.responseText).code == 1208){
                        alert("邀请码不存在");
                    }else{
                        alert("页面异常");
                    }
                });
            },
            normalBay : function(price){
                var data={};
                data.type = "membership";
                data.price = price;
                data.serviceValue = 300;
                data.tradeName = "会员额度充值";
                data.tradeDetail = "会员额度充值";
                this.$http({
                    method: 'GET',
                    url: "/1/customer/wallet?userId=" + this.userId,
                    headers : {
                        "x-docchat-user-id":this.userId,
                        "x-docchat-session-token":this.token
                    }}).then(function (rs) {
                    this.isLoading=false;
                    rs = rs.body;
                    data.balance = rs.amount;
                    console.log(data);
                    webBridge.upload("selectPayment",JSON.stringify(data))
                },function(err){
                    this.isLoading=false;
                    alert("获取余额失败");
                });
            },
            otherBuy : function(price){
                this.normalBay(price);
            },
            buy:function(price){
                this.isLoading=true;
                if(this.client == "ios"){
                    this.applyBuy(price);
                }else{
                    this.normalBay(price);
                }
            },
            complete:function(){
                vm.isPaymentSucc=false;
                vm.contentDisplay=true;
            },
            getProduct: function(){
                vm.contentDisplay=true;
                getTitle("我的会员卡");
            }
        }
    });

    vm.$watch('totalVal', function (newVal, oldVal) {
        // 这个回调将在 `vm.totalVal`  改变后调用
        var circleInitValue=(vm.infoData.cost/vm.totalVal)*100;
        if(circleInitValue<=2 && circleInitValue>0){
            circleInitValue=2;
        }
        if(vm.totalVal==0){
            circleInitValue=100;
        }
        console.log(circleInitValue);
        var num = circleInitValue * 3.6;
        if (num <= 180) {
            vm.leftRotateNum=0;
            vm.rightRotateNum=num;
        } else {
            vm.leftRotateNum=num - 180;
            vm.rightRotateNum=180;
        }
    })
</script>
</html>
