.money-info {
    margin: 20px 12px;
}

.money-info img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.money-info p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    color: #000;
}

.money-info span {
    text-align: center;
    display: block;
    margin-top: 12px;
    font-size: 36px;
}

p {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    margin-top: 8px;
}

.coupon {
    padding: 12px 12px 0;
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: normal;
}

p {
    text-align: center;
}

input {
    outline: none;
}

body {
    background-color: #eee;
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.ad_button {
    width: 100%;
    border: none;
    background: #ff9000;
    border-radius: 4px;
    height: 44px;
    color: #fff;
    font-size: 17px;
    margin-top: 0px;
}

/*顾问信息*/
.avatar {
    width: 100%;
    margin-top: 15px;
}

.avatar img {
    display: block;
    margin: 0 auto;
    width: 54px;
    height: 54px;
    border-radius: 30px;
    background: #ccc;
    border: none;
}

.infomation .avatar p {
    color: #000;
    margin: 15px auto 6px auto;
    font-size: 17px;
}

.infomation p {
    margin: 6px auto 15px auto;
    font-size: 15px;
    color: #b3b3b3;
}

/*付款列表样式*/
.bid_list ul {
    list-style: none;
    padding: 0;
    width: 93.6%;
    margin: 14px auto 0 auto;
}

.bid_list ul li {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-top: 12px;
    background-color: #fff;
}

.bid_list ul li span {
    font-size: 17px;
    color: #000;
    letter-spacing: 0;
    padding-left: 3.2%;
    line-height: 44px;
    display: inline-block;
}

.bid_list ul li input {
    font-size: 17px;
    color: #000;
    letter-spacing: 0;
    border: none;
    width: 51%;
    background: #fff;
}

ul li i {
    font-style: normal;
    color: #000;
}

.bid_list ul li:last-child {
    border: none;

}

.bid_list ul li:last-child input {
    width: 100%;
    color: #fff;
}

.bid_list ul .even {
    background: none;
    border: none;
}

.bid_list ul .even p {
    text-align: center;
    margin: 15px auto;
}

.bid_list ul .specifyContent {
    margin-bottom: 12px;
    position: relative;
    display: none;
}

.bid_list ul .specifyContent em {
    font-size: 15px;
    color: #33A5EE;
    display: inline-block;
    right: 10px;
    position: absolute;
    bottom: 5px;
    line-height: 20px;

}

.bid_list ul .specifyContent span {
    min-height: 34px;
    font-size: 15px;
    line-height: 22px;
    color: #000;
    text-align: left;
    width: 77.6%;
    margin: 5px 0;
}

.detail {
    text-align: center;
    font-size: 13px;
    color: #B3B3B3;
    margin: 24px 12px;
}

.gray {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.gray1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #eee;
}

.alert {
    width: 270px;
    /*  height:146px;*/
    background: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 11;
}

.filter {
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    opacity: 0.1;
}

/*弹出框样式*/
.alert p {
    font-size: 19px;
    /*color: #535353;*/
    margin: 12px 0 0 0;
    width: 100%;
}

.alert input {
    resize: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 24px auto 0 auto;
    width: 215px;
    display: block;
    padding: 2.8% 3.2%;
    font-size: 15px;
    color: #000;
    letter-spacing: 0;
    outline: none;
}

.alert ul {
    margin: 24px auto 0 auto;
    height: 50px;
    border-top: 1px solid #ddd;
}

.alert ul li {
    float: left;
    width: 50%;
    height: 100%;

}

.alert ul li p {
    text-align: center;
    border-left: 1px solid #ddd;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-size: 17px;
    color: #535353;
    letter-spacing: 0;
}

.alert ul li p:hover {
    color: #33a5ee
}

.alert ul li:first-child p {
    border: none;
}

/* .detail{
     padding:12px;
     color:#939393;
     line-height:25px;
     font-size: 17px;
 }*/
@media screen and (max-width: 320px) {
    #addbid input {
        font-size: 14px;
    }
}

/*代金券*/
/*代金券列表*/
html{
    width: 100%;
    height: 100%;
}
body {
    background: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.coupon-list {
    margin: 0 30px 16px 30px;
}

.coupon-list ul li {
    margin-top: 20px;
    /*height:65px;*/
    /*line-height: 65px;*/
    box-sizing: content-box;
    overflow: hidden;
}

.coupon-list ul li .radio-wrap {
    display: inline-block;
    width: 17px;
    height: 17px;
    position: relative;
    top: -22px;
    border-radius: 100%;
    border: 1px solid #b3b3b3;
    /*
        vertical-align: middle;*/
}

.coupon-list ul li .radio-wrap input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100; /*使input按钮在span上一层，不加会导致选择不灵敏*/
}

.coupon-list ul li .radio-wrap span {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    position: absolute;
    background: #33A5EE;
    top: 0;
    left: 0;
    margin: -1px 0 0 -1px;
    z-index: 1;
}

input[type="radio"] + span {
    opacity: 0
}

input[type="radio"]:checked + span {
    opacity: 1;
}

.coupon-list ul li label {
    display: inline-block;
    width: calc(100% - 45px);
    margin-left: 18px;
}

.coupon-list ul li label .coupon-left {
    width: 86px;
    float: left;
    background: url("images/bg_blue@3x.png");
    height: 65px;
    background-size: 100% 100%;
}

.coupon-list ul .gray-coupons label .coupon-left {
    width: 86px;
    float: left;
    background: url("images/bg_gray@3x.png");
    height: 65px;
    background-size: 100% 100%;
}

.coupon-list ul li label .coupon-left p {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.coupon-list ul li label .coupon-left p i {
    color: #fff;
    font-size: 38px;
    line-height: 65px;
}

.coupon-list ul li label .right-border {
    float: right;
    width: 4px;
    line-height: 65px;
    background: url("images/rightblue@3x.png") no-repeat;
    background-size: 100% 100%;
}

.coupon-list ul .gray-coupons label .right-border {
    float: right;
    width: 4px;
    line-height: 65px;
    background: url("images/rightgray@3x.png") no-repeat;
    background-size: 100% 100%;
}

.coupon-list ul li label .coupon-right {
    border-top: 1px solid #4CC2F4;
    border-bottom: 1px solid #4CC2F4;
    height: 53px;
    padding-top: 10px;
    /* padding-top:20px;
     padding-bottom:20px;*/
    overflow: hidden;
    font-family: "微软雅黑";
    background: #f6fcff;

}

.coupon-list ul .gray-coupons label .coupon-right {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 53px;
    padding-top: 10px;
    /* padding-top:20px;
     padding-bottom:20px;*/
    overflow: hidden;
    font-family: "微软雅黑";
    background: #f6fcff;

}

.coupon-list ul li label .coupon-right p {
    font-size: 17px;
    color: #33A5EE;
    letter-spacing: -0.41px;
    text-align: left;
    margin-left: 12px;
}

.coupon-list ul li label .coupon-right i {
    font-size: 15px;
    color: #33A5EE;
    letter-spacing: -0.36px;
    text-align: left;
    margin-left: 12px;
    display: inline-block;

}

.coupon-list ul .gray-coupons label .coupon-right p {
    color: #b3b3b3;
}

.coupon-list ul .gray-coupons label .coupon-right i {
    color: #b3b3b3;
}

.coupon-list ul li label .coupon-right .coupon-infomation {
    background-color: #f6fcff;
    overflow: hidden;
}

.coupon-list ul li label .coupon-right .info-list {
    /*width: 122px;*/
    float: left;
}

.coupon-detail {
    text-align: center;
    font-size: 15px;
    color: #B3B3B3;
    margin: 15px 12px;
    line-height: 21px;
}

.coupon-detail p {
    color: #000;
}

/*已售完*/
.coupon-list ul .gray-coupons label .coupon-right .coupon-infomation {
    overflow: hidden;
}

.coupon-list ul .gray-coupons label .coupon-right .sold-out {
    width: 50px;
    height: 50px;
    background: url("images/Group 2@3x.png");
    background-size: 100% 100%;
    float: right;
    position: absolute;
    right: 50px;
}

.coupon-list ul .gray-coupons label .coupon-right .info-list {
    /*width: 122px;*/
    float: left;
}

.cushion {
    width: 100%;
    /* margin-top:18px;*/
}

.cushion img {
    height: 59px;
    width: 59px;
    margin: 0 auto;
    display: block;

}

#change {;
    -webkit-animation: run 3s linear 0s infinite;
}

@-webkit-keyframes run {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }

}

/*会员邀请码*/
.invite-code {
    position: fixed;
    bottom: 12px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.invite-code p {
    color: #0066FF;
}

/*进度条样式*/
.load-bar1 {
    background-color: #fdf6ec;
    width: 100%;
    height: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 7px;
    border: solid 2px #eca242;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.12);
}

.load-bar2 {
    background-color: #fdf6ec;
    width: 100%;
    height: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 7px;
    border: solid 2px #e46142;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.12);
}

.load-bar1 .inner-load1 {
    width: 20%;
    height: 100%;
    background-color: #ffbe6a;
    border-radius: 7px;
}

.load-bar2 .inner-load2 {
    width: 20%;
    height: 100%;
    background-color: #fb9077;
    border-radius: 7px;
}

.load-bar {
    background-color: #d8d8d8;
    width: 100%;
    height: 12px;
    margin-top: 8px;
    border-radius: 7px;
}

.load-bar .inner-load {
    width: 20%;
    height: 100%;
    background-color: #bbbbbb;
    border-radius: 7px;
}

/*圆形进度条*/
.content,.content-all{
    height: 100%;
    overflow: hidden;
}
.top {
    background-color: #fff;
    position: relative;
    height: 49%;
}
.middleContent{
    width: 100%;
    height: 100%;
    position: relative;
}

.top p {
    width: 100%;
    height: 13px;
    line-height:13px;
    font-size: 13px;
    color: #c9c9c9;
    position: absolute;
    bottom: 5%;
}

/*.new_circle {
    padding-top: 43px;
}

.circle {
    width: 208px;
    height: 208px;
    !* position: absolute;*!
    border-radius: 50%;
    background: #e8e8e8;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}

.pie_left, .pie_right {
    width: 208px;
    height: 208px;
    position: absolute;
    top: 0;
    left: 0;
}*/

/*.left, .right {
    display: block;
    width: 208px;
    height: 208px;
    background: #ff9000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(30deg);
}

.pie_right, .right {
    clip: rect(0, auto, auto, 104px);
}

.pie_left, .left {
    clip: rect(0, 104px, auto, 0);
}*/

.mask {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 16px;
}

.mask span {
    font-size: 15px;
    color: #bfbfbf;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
}

.top .mask p {
    font-size: 48px;
    height: 48px;
    line-height: 48px;
    color: #2a2a2a;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mask button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -44px;
    /*-webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 1px 18px 1px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: #aaa;
    background: url("images/enter_right_roa@2x.png") no-repeat;
    background-position: 94% 60%;
    background-size: auto 60%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.product {
    background: #fff;
    overflow: hidden;
    padding: 0px 2%;
    margin-top: 2%;
    height: 51%;
    position: relative;
}

.product h4 {
    margin: 22px 0;
    color: #666666;
    font-size: 13px;
}

.product-list {
    border-radius: 4px;
    /* box-shadow:0 2px 8px rgba(111,131,178,0.2);*/
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buy-member{
    width:96%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border:solid 1px #bb6a00;
    background: #ff9000;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 8%;
}
.buy-membertouch{
    background: #ff8400;
    color: rgba(255, 255, 255, 0.7);
    width:96%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border:solid 1px #bb6a00;
    text-align: center;
    position: absolute;
    bottom: 8%;
}

.list-left {
    width: 31%;
    height: 63px;
    background-color: #ffffff;
    border: 1px solid #ff9000;
    border-radius: 6px;
    margin:0 1%;
    float: left;
}
.chose-in{
    background-color: #ff9000;
}
.three-right{
    margin-right: 0;
}
.list-left p {
    color: #ff9000;
    margin: 0;
    font-size: 12px;
    margin-top: 6px;
}
.list-left .selling-price{
    color: #ff9000;
    margin: 0;
    font-size: 15px;
    margin-top: 5px;
}
.list-left .selling-price span{
    color: #ff9000;
    margin: 0;
    font-size: 15px;
}
.chose-in p {
    color: #fff;
    margin: 0;
    font-size: 12px;
    margin-top: 6px;
}
.chose-in .selling-price{
    color: #fff;
    margin: 0;
    font-size: 15px;
    margin-top: 5px;
}
.chose-in .selling-price span{
    color: #fff;
    margin: 0;
    font-size: 15px;
}


.list-left p span {
    font-size: 23px;
}

.list-right {
    background-color: #fff;
    margin-left: 95px;
    /*  padding-bottom:0px;*/
    /* overflow: hidden;*/
}

.list-right p {
    padding-top: 20px;
    margin: 0 0 0 20px;
    font-size: 15px;
    color: #323232;
    text-align: left;

}

.list-right em {
    font-size: 12px;
    color: #cecece;
    margin-left: 20px;
}

.list-right .intro {
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

/*.list-right .buy{
    padding-bottom: 10px;
    overflow: hidden;
}*/
.list-right .intro i {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: #ff8400;
    padding-right: 17px;
    background: url('images/buy1@2x.png') no-repeat;
    background-size: auto 12px;
    background-position: right center;
}

.apple-pay {
    color: #ff8400 !important;
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
}

.deadline {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/*会员额度详情*/
.detail-content {
    font-size: 15px;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}

.detail-content ul {

    background: #ffffff;
}

.detail-content ul li {
    margin: 0 15px;
    padding: 22px 0 15px 0;
    border-bottom: 1px solid #dcdcdc;
    color: #9b9b9b;
    overflow: hidden;
}

.detail-content ul li:last-child {
    border-bottom: none;
}

ul li h2 {
    font-size: 15px;
}

ul li p {
    text-align: left;
    margin: 0;
}

.gray-circle {
    height: 5px;
    width: 5px;
    margin-right: 5px;
    background-color: #e4e4e4;
    border-radius: 4px;
    display: inline-block;
    margin-top: 8px;
}

.gray-detail {
    padding-left: 5px;

}
.money-top{
    font-size: 0;
}
.money-top .money-left{
    margin-top: 10px;
}

ul li h2 span {
    display: inline-block;
    float: left;
}

ul li span {
    color: #333;
    display: inline-block;
    overflow: hidden;
    font-size: 15px;
}

ul li .money-right {
    float: right;
    margin-top: 4px;
    font-size: 12px;
    vertical-align: bottom;
}
ul li .activities-gift{
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul li .money-right i {
    color: #ff8400;
    font-size: 15px;
}

ul li .money-right i {
    color: #ff4200;
    font-size: 23px;
}

ul li .money-right span {
    font-size: 10px;
    color: #ff4200;
}

.history-list li span {
    color: #b7b7b7;
    display: inline-block;
}

.history-list li .overdue-right {
    color: #b7b7b7;
    float: right;
    margin-top: 4px;
    font-size: 12px;
    vertical-align: bottom;
}

.history-list li .overdue-right span {
    color: #b7b7b7;
    font-size: 12px;
    display: inline;
}

.info {
    overflow: hidden;
}

.info span {
    margin-top: 7px;
    color: #9b9b9b;
    font-size: 12px;
    display: inline-block;
}

.info i {
    float: right;
    margin-top: 7px;
    font-size: 12px;
    color: #ff3838;
}

.info i {
    float: right;
    margin-top: 7px;
    font-size: 12px;
    color: #ff5400;
}

.success {
    margin: 5.5% auto 0 auto;
    width: 85px;
}

.success img {
    margin-left: 5px;
}

.success p {
    margin: 15px auto;
    text-align: center;
    font-size: 19px;
    color: #ff9000;
    letter-spacing: -0.46px;
}

.p1 {

    width: 89.1%;
    font-size: 15px;
    color: #000;
    letter-spacing: -0.37px;
    margin: 12px auto 0 auto;
    text-align: center;
    padding-bottom: 36px;
}

.wd {
    width: 93.6%;
    margin: 5.5% auto;
    display: block;
}

.money {
    /* display:block;*/
    text-align: center;
    font-size: 40px;
    padding-bottom: 36px;
}

/*春游补贴*/
.spring-back {
    width: 100%;
}

.mg {
    margin-top: -4px;
}

/*缺省页*/
.default {
    /*    display: none;*/
    color: #B3B3B3;
}

.default img {
    width: 92px;
    height: 102px;

}

.default p {
    margin-top: 14px;
}

.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}
.history-detail{
    width:100%;
    height: 50px;
    position: relative;
    text-align: center;
}
.history-detail button {
    width: 74px;
    position: absolute;
    color: #ffbe6a;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    outline: none;
    left: 50%;
    margin-left: -37px;
}

.surePass{
    position:relative;
    width:100%;
    float:left;
}
.circleRun {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 67%;
}

/*test*/
