*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
}
.all{
    width: 100%;
    padding:0px 25px;
    box-sizing: border-box;
    background: url("https://cdn.juliye.net/app_bg@1x.png") no-repeat;
    background-size: cover;
}
.top{
    width: 100%;
    height: 285px;
    padding-top: 15px;
}
.card{
    width: 100%;
    display: block;
}
.rightSp{
    background: #ffffff;
    height: 220px;
    border-radius: 8px;
}
.rightSpTop{
    width: 100%;
    height: 110px;
    display: flex;
}
.rightOne{
    flex:1;
    /*height: 85px;*/
    padding-top: 25px;
}
.oneBg{
    width: 48px;
    height: 48px;
    background: url("https://cdn.juliye.net/app_default_circle@3x.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.icon{
    width: 48px;
    height: 48px;
}
.rightOne p{
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: #BB7924;
    text-align: center;
}
.introSp{
    width: 100%;
    margin: 25px 0px;
}
.introSp p{
    font-size: 15px;
    color: #965500;
    letter-spacing: 0.19px;
    text-align: justify;
    line-height: 23px;
}
.choseSp{
    height: 60px;
    margin: 0 auto;
    padding-left: 10%;
    padding-bottom: 50px;
}
.clickCg{
    margin-top: 8px;
    width: 15px;
    height: 15px;
    background: url("https://cdn.juliye.net/app_sel@3x.png") no-repeat;
    background-size: contain;
    float: left;
    display: none;
}
.choseIn{
    margin-top: 8px;
    width: 15px;
    height: 15px;
    background: url("https://cdn.juliye.net/app_sel_sel@3x.png") no-repeat;
    background-size: contain;
    float: left;
}
.choseSp p{
    width: 95px;
    float: left;
    line-height: 30px;
    font-size: 13px;
    color: #965500;
    letter-spacing: 0.16px;
    margin-left: 4px;
}
.choseSp a{
    color: #4A8EFF;
    line-height: 30px;
    font-size: 13px;
    float: left;
    text-decoration: none;
}