#triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #f6f6f6;
    border-left: 7px solid transparent;
    border-right:7px solid transparent;
    margin-left:32px;
}
.gray{
    width:100%;
    height:100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top:0;
    background: #000;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
}
.alert{
    width:270px;
    height:146px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}
.msg h4{
    text-align: center;
    font-size:16px;
    color: #000;
    margin:15px auto 10px;
    font-weight: 100;
}
.msg p{
    text-align: center;
    font-size:14px;
    color: #000;
    line-height: 24px;
    padding: 0 15px 10px;
    border-bottom: 1px solid #e0e0e0;
}
.alertBtn{
    width:100%;
    height:44px;
}
.cancel{
    float:left;
    width:50%;
    height:100%;
    border:0;
    border-right:1px solid #e0e0e0;
    background: #FFFFFF;
    font-size: 16px;
    border-radius: 0 0 0 4px;
}
.download-App{
    float: left;
    width:50%;
    height:100%;
    border:0;
    background: #FFFFFF;
    font-size: 16px;
    color: #33a5ee;
    text-align: center;
    line-height:44px;
    border-radius: 0 0 4px 0;
}
#closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
    margin:4px ;
    background: #FFFFFF;
    padding:0
}
.closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
    margin:4px ;
    background: #FFFFFF;
    padding:0
}

#closeAlert img{
    width:100%;
    height:100%;
}
.closeAlert img{
    width:100%;
    height:100%;
}
#msgCodeInput{
/*    width:100%;*/
    height:45px;
    border:1px solid #33a5ee;
    border-radius: 4px;
    line-height:45px;
    padding: 0;
    text-index:1em;
    background: #f6f6f6;
    margin: 12px 0 20px;
    font-size: 16px;
}
.msgCodeInput{
    /*    width:100%;*/
    height:45px;
    border:1px solid #33a5ee;
    border-radius: 4px;
    line-height:45px;
    padding: 0;
    text-index:1em;
    background: #f6f6f6;
    margin: 12px 0 20px;
    font-size: 16px;
}
#confirmMsgCode{
   /* width:100%;*/
    height:45px;
    text-align: center;
    background: #33a5ee;
    font-size:16px;
    color: #FFFFFF;
    line-height:45px;
    margin:0;
    border-radius: 4px;
    border: 0;
}
.confirmMsgCode{
    /* width:100%;*/
    height:45px;
    text-align: center;
    background: #33a5ee;
    font-size:16px;
    color: #FFFFFF;
    line-height:45px;
    margin:0;
    border-radius: 4px;
    border: 0;
}
.errorMsg{
    color: #ff3b30;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.info{
    margin:0px 12px 12px 12px;
    padding-top: 12px;
    overflow: hidden;
}
.name {
    font-weight:bold;
    font-size: 17px;
    color: #33A5EE;
    letter-spacing: -0.41px;
}
.phone{
    font-size: 15px;
    color: #33A5EE;
    letter-spacing: 0;
}
.info-list{
    font-size: 15px;
    color: #000;
    letter-spacing: -0.36px;
}
/*.docInfo {


}
.companyInfo {

}*/
.introduce {
    /*border-top:1px solid #bfbfbf;*/
    color: #000;
    font-size: 15px;
    line-height: 19px;
    margin: 0px 12px;
    padding:12px;
    height: auto;
    text-align:justify;
    text-indent:1em;
}

.download-btn{
    margin:33px 12px 0 12px;
}

.couponTips {
    color: #000;
    font-size: 18px;
}

.error {
    color: #F00;
    font-size: 15px;
}
.inputphone{
    width:100%;
    height:44px;
    line-height:44px;
    border:1px solid #33a5ee;
    border-radius: 4px;
    background: #f6f6f6;
    color: #000;
    padding: 0 10px;
    font-size:14px;
}
.dynamics{
    /*width:80%;*/
    margin:55px 12px 0 12px;
    border-radius:4px;
    padding:12px;
    font-size:15px;
    color:#000;
    line-height:20px;
    border:1px solid #ddd;
    letter-spacing:1px;


}
.dynamicsInput{
    /*display: -webkit-box; !*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*!
    !*-webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*!
    text-overflow: ellipsis;!*，可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*!
    overflow : hidden;
    -webkit-box-orient: vertical;
    text-align: justify;*/
    overflow:scroll;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.dynamics legend{
    font-size: 17px;
    color: #33A5EE;
    text-align: center;
    font-weight: bold;
}
.dynamics p{
    text-indent:15px;
}
#concernBtn{
    width:100%;
    /*height:48px;*/
    line-height:44px;
    /*background: url('../images/Group 3@3x.png') no-repeat;*/
    /*background-size:100% 100%;*/
    border-radius: 4px;
}
.down-load-a{
    width:100%;
    height:44px;
    line-height:44px;
    background: #33a5ee;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    border: 0;
    font-size: 17px;
}
.tishi {
    display: none;
    color: #FFF;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background: url('../images/03.png');
    min-height: 450px;
}

.downloadImg {
    color: #FFF;
    position:fixed;
    bottom: 12px;
    width: 100%;
}
.downloadImg img{
    width:30px;
    heigth:30px;
    position: relative;
    z-index: 100;
    padding:0 8px 0 8px;

}

.first_line{
    border-bottom:1px solid #ddd;
    position: relative;
    bottom: 14px;
    width:calc(100% - 24px);
    margin:13px 12px 0 12px;
    display: inline-block;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);

}
.line{
    border-bottom:1px solid #ddd;
    position: relative;
    bottom: 14px;
    width:38%;
    display: inline-block;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}



#tishi img {
    display: block;
    margin: 0;
}
.footer{
    width: 100%;
    height: 49px;
    background: #000000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
    position: fixed;
    bottom: 0;
    left: 0;
}
.logo{
    width: 40px;
    position: fixed;
    bottom: 5px;
    left: 12px;
}
.zly{
    font-size: 16px;
    color: #FFFFFF;
    position: fixed;
    bottom: 12px;
    left: 64px;
}
.down-load{
    background: #1BADF8;
    color: #FFFFFF;
    display: block;
    float: right;
    width: 117px;
    height: 40px;
    border-radius: 2px;
    border: 0;
    position: fixed;
    bottom: 5px;
    right: 12px;
    text-align: center;
    line-height: 40px;
}
#phoneMsgCode{
    width:86%;
}
.phoneMsgCode{
    width:86%;
}
#concernSuccessAlert{
    width:86%;
}
.document{
    margin:12px;
    font-size:14px;
    line-height:18px;
}
.doc-list{
    background: #eeeeee;
    padding-top: 12px;
    margin-bottom: 49px;
}
.doc-item{
    background: #FFFFFF;
    margin: 0 12px 12px;
    height: 80px;
    padding: 12px;
}