*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	color:#000;
}
a{
	text-decoration: none;
}
a:link,a:visited{
        text-decoration:none;
		color: #FFFFFF;
    }
.title{
	font-size: 24px;
	color: #35adfb;
	text-align: center;
	margin: 52px 0 32px;
}
form{
	text-align: center;
}
.insert{
	width:80%;
	height: 44px;
	border:1px solid #35adfb;
	padding: 0 16px;
	font-size: 15px;
	border-radius: 4px;
	margin-bottom: 16px;
}
.insert_no_padding{
	width:100%;
	height: 36px;
	border:1px solid #35adfb;
	padding: 0 0px;
	font-size: 14px;
	border-radius: 4px;
	margin-bottom: 16px;
	position: relative;
	left: 50%;
	-webkit-transform:tanslateX(-50%);
	transform: translateX(-50%);
}
fieldset{
    border: 1px solid #c0c0c0;
    margin: 10px 10%;
    padding: 0.35em 0em 0.75em;
		text-align: left;
}
legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #333;
    border: 0;
}
.detail{
	height: 64px ;
	padding: 10px 16px 0;
}
.btn-submit{
	width:80%;
	height: 44px;
	border: 0;
	background: #35adfb;
	color: #FFFFFF;
	margin: 10px 0;
	font-size:17px;
	border-radius:4px;
}
.footer{
	font-size: 12px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 4.5% ;
	color: #656a6e;
}
.footer a{
	color: #35adfb;
}
.lines{
	padding: 5px 60px;
	height:32px;
}
.lines .dot{
	display: inline-block;
	width:6px;
	height:6px;
	border-radius: 3px;
	background: #ddd;;
}
.lines .line{
	display: inline-block;
	width:41%;
	background: #ddd;
	height:1px;
	position: relative;
	top:-2px;
}
.font{
	padding:0 34px;
	position: relative;
}
.font span:last-child{
	float: right;
}
.sec-tabs-font{
	position: absolute;
	top:0;
	left:50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.tabs{
	margin-bottom:15px;
}
.view{
	padding:0 12px;
}
.input{
	width:100%;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}
.clear-left-padding{
	padding-left:0;
}
.leftFont{
	position: absolute;
	left:12px;
	display: inline-block;
	font-weight:100;
	float: left;
	margin-right:12px;
	font-size: 14px;
}
.radio-wrap{
	margin-left: 84px;
}
.radio-wrap div{
	width:50%;
	float: left;
}
.radio-wrap .left-wrap{
	padding-right:6px;
}
.radio-wrap .right-wrap{
	padding-left:6px;
}
.radio-a{
	width:100%;
	display: inline-block;
	text-align: center;
	border:1px solid #ddd;
	background: #FFFFFF;
	border-radius:4px ;
	height: 40px;
}
.row-wrap{
	margin-bottom : 15px;
	height:40px;
	line-height:40px;
}
#next{
	width:100%;
	margin-top:9px;
	display: block;
	text-align: center;
	height:44px;
	line-height:44px;
	font-size: 17px;
}
.lines .blue-back{
	background: #33a5ee;
}
.blue-btn{
	width:100%;
}
.blue-font{
	color:#33a5ee;
}
select{
	background: #FFFFFF;
}
.info-under-btn{
	text-align: center;
	font-size: 13px;
	color: #b3b3b3;
}
.menu{
	font-size: 13px;
}
.profile-wrap{
	padding-left: 20px;
	margin-top: 20px;
	background: #ffffff;
}
.profile-wrap li{
	list-style-type: none;
	height:50px;
	line-height:50px;
	border-bottom: 1px solid #f6f6f6;
	padding-right: 20px;
}
.profile-wrap li span{
	float: right;
}