
.gray{
    width:100%;
    height:100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top:0;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.alert{
    width:270px;
    height:146px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}

.alerthead{
    height:44px;

}
.alerthead i{
    font-style:normal;
    line-height:44px;
    padding-left:16px;
    color:#F96260;
    font-size:19px;
}
.msg h4{
    text-align: center;
    font-size:16px;
    color: #000;
    margin:15px auto 10px;
    font-weight: 100;
}
.msg p{
    text-align: center;
    font-size:14px;
    color: #535353;
    line-height: 24px;
    padding: 0 15px 10px;
    border-bottom: 1px solid #e0e0e0;
}
.alertBtn{
    width:100%;
    height:44px;
}
.cancel{
    float:left;
    width:50%;
    height:100%;
    border:0;
    border-right:1px solid #e0e0e0;
    background: #FFFFFF;
    font-size: 16px;
    border-radius: 0 0 0 4px;
}
.download-App{
    float: left;
    width:50%;
    height:100%;
    border:0;
    background: #FFFFFF;
    font-size: 16px;
    color: #33a5ee;
    text-align: center;
    line-height:44px;
    border-radius: 0 0 4px 0;
}
#closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
    margin:4px ;
    background: #FFFFFF;
    padding:0
}
.closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
    margin:4px ;
    background: #FFFFFF;
    padding:0
}

#closeAlert img{
    width:100%;
    height:100%;
}
.closeAlert img{
    width:100%;
    height:100%;
}

.msgCodeInput{
    /*    width:100%;*/
   /* height:45px;*/
    border-radius: 4px;
    /*line-height:45px;*/
    padding: 0;
    text-index:1em;
    background: #f6f6f6;
    margin: 12px 0 20px;
    font-size: 16px;
    border:1px solid #F96260;
    margin-top:0;
    height:40px;
    line-height:40px;
    width:calc(100% - 5px);
    padding-left:5px;
}

.confirmMsgCode{
     width:100%;
    height:45px;
    text-align: center;
    background: #33a5ee;
    border:1px solid #33a5ee;
    font-size:16px;
    color: #FFFFFF;
    line-height:45px;
    margin:0;
    border-radius: 4px;
    /*border: 0;*/
}
.errorMsg{
    color: #ff3b30;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.name {
    color: #000;
    font-size: 16px;
}
.phone{
    color: #33a5ee;
    font-size: 16px;
}
.docInfo {
    color: #000000;
    font-size: 14px;
}
.companyInfo {
    color: #535353;
    font-size: 14px;
}
#concernSuccessAlert{
    width:86%;
}

a{
    text-decoration: none;
}
html{
    width: 100%;
}
body{
    background-color:#eee;
    font-family:Helvetica;
    width:100%;
    height:100%;
    margin:0 auto;
}
.double_pic{
    width:100%;
    margin:0;
    padding:0;

}
.voucher_100{
    padding:0;
    width:100%;
    margin:0;

}
.voucher_100 p{
    margin:12px 0 0 0;
}
.voucher_100 span{
    padding:0 12px;
    font-size:19px;
    color: #F96260;
    letter-spacing: -0.46px;
    margin:0;
}
/*.voucher_100 span:last-child{
    float:right;
    margin:0 12px;
    font-size: 19px;
    color: #F96260;
    letter-spacing: -0.46px;
}*/

.voucher_100 p{
    font-size:15px;
    padding-bottom:12px;
    color: #B3B3B3;
    letter-spacing: -0.37px;
}
.flow{
    padding:0 0 2px 0;
    margin-bottom:12px;
}
h2{
    letter-spacing: -0.41px;
    font-size:17px;
    font-weight: bold;
    padding:12px;
    border-bottom:1px solid #E0E0E0;
    line-height:100%;
    margin:12px 0 0;
    display:block;
}
.flow p{
    padding-bottom:8px;
    margin:0;

}
.flow p span{

    padding:0 12px;
    font-size:14px;
    line-height:22px;
    margin-top:8px;
    display:block;
}
.flow>div{
    border-bottom:1px solid #e0e0e0;
    padding:12px 12px 12px;
    overflow: hidden;
}
.flow>div:last-child{
    border:none;
}
.list{
    position:relative;

}
.doctor {
    padding:0;
    margin:0;
    /* margin-left:0;*/
    margin-top:8px;

}
.doctor li span{
    display:inline-block;
    margin-top:0px;

}
.doctor li:first-child span{
    color:#F96260;
}
.assistant{
    right:12px;
    top:20px;
    color:#535353;
    position:absolute;
    font-size:15px;
    /*float:right;
    margin-right:12px;*/
}
.assistant i{
    font-style:normal;
    /*border:1px solid #f00;*/
    background:url(http://7j1ztl.com1.z0.glb.clouddn.com/double12_tel.png) no-repeat;
    background-size:12px 12px;
    background-position:2px;
    padding-left:13px;

}
.bg_f{
    background-color:#fff;
}
.receive{
    border-top:1px solid #e0e0e0;
    padding:12px 0 12px 12px;
    /* position:fixed;*/
    heigth:44px;
    width:100%;
    bottom:0;
    left:0;
    overflow:hidden;

}
.receive input[type="number"]{
    background: #F6F6F6;
    border: 1px solid #F96260;
    border-radius:4px;
    font-size:15px;
    width:auto;
    height:34px;
    padding:1.2% 0 1.2% 1.7%;
    letter-spacing: -0.37px;
    margin-right:12px;
    float:right;
}
.receive .receive_btn{
    display:inline-block;
    background: #F96260;
    border-radius: 4px;
    font-size: 17px;
    color: #FFF;
    border:none;
    height:41px;
    /*width:100px;*/
    /*width:80%;*/
    /* float:right;*/
    /*padding:10px 24px 0 24px;*/
    /*padding:3.3% 6.4% 3.2% 6.4%;*/
    /*float:right;*/
    /*margin-right:24px;*/
    line-height:41px;
    /* padding:0 4.4%;*/

    /*letter-spacing: -0.41px;*/

    margin:0 auto;
}
.receive #receive{
    display:inline-block;
    background: #F96260;
    border-radius: 4px;
    font-size: 17px;
    color: #FFF;
    border:none;
    height:41px;

    float:right;
    /* padding:10px 24px 0 24px;
     padding:3.3% 6.4% 3.2% 6.4%;*/
    float:right;
    margin-right:24px;
    line-height:41px;
    padding:0 4.4%;

    letter-spacing: -0.41px;

    margin:0 auto;
}
/*.receive #receive{
   !* display:block;*!
    background: #F96260;
    border-radius: 4px;
    font-size: 17px;
    color: #FFF;
    border:none;
    !*height:34px;*!
    !*width:80%;*!
   !* float:right;*!
    !*padding:10px 24px 0 24px;*!
    padding:3.3% 6.4% 3.2% 6.4%;
    !*margin-right:12px;*!

    !*letter-spacing: -0.41px;*!

    !*margin-top:-20px;*!
}*/
#phoneMsgCode{
    position: fixed;
}
#concernSuccessAlert{
    position: fixed;
}
.redPhone{
    color:#F96260;
}
.companyInfo{
    padding:0;

}
.confirmWin{
    padding: 0 30px 0 0;
    margin-top:18px;
}
.confirmWin input{
    width:100%;
    /* heigth:44px;*/
}
.confirmWin button{
    width:100%;
    /*heigth:54px;*/
}



