body{
    background:#eee;
}
.price-list{
    margin:12px 0 15px 0;
    font-size: 17px;
    color: #000;
    letter-spacing: -0.41px;
    background: #fff;
}
.price-list li{

    height:44px;
    line-height: 44px;
    padding:0 12px;
    overflow: hidden;
}
.price-list li:nth-child(2n){
    border-top:1px solid #bfbfbf;
    height:0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
}
/*.price-list li:last-child{
    border-top:none;
    background-color: #EEE;
    border-bottom:1px solid #bfbfbf;
   !* transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);*!
}*/

.price-list .right{
    float:right;

}
.price-list .right input{
    border:none;
    font-size: 17px;
    text-align: right;
    width:150px;
    outline:none;
    color:#000;
    /*outline:1px solid #1BADF8;*/

}
.price-list .right .round-btn{
    display: inline-block;
    height:28px;
    width:45px;
    border-radius: 15px 15px 15px 15px;
    background: #33A5EE;
    margin-top:9px;
    float: right;
}
.price-list .right .round{
    height:24px;
    width:24px;
    background:#fff;
    border-radius:16px;
    margin-top: 2px;
    margin-right:1px;
    float:right;
}

.discription h6{
    font-size: 15px ;
}
.discription{
    margin:0 12px;
    font-size: 15px;
    color: #b3b3b3;
    letter-spacing: -0.36px;
    line-height: 18px;
}