<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的奖励金</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no" />

    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <!-- vue -->
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js" charset="utf-8"></script>
    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <!-- css -->
    <link href="/invite_prize/css/bounty.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id = "app">
        <div class="bounty">
            <div class="top">
                <div class="circle">
                    <p>已获奖励金</p>
                    <p>
                        <span>￥</span>
                        <span class="money">{{bonus}}</span>
                    </p>
                </div>
                <div class="showList">
                    <div class="detial">
                        <p class="title">邀请好友</p>
                        <p>
                            <span>{{invite_count}}</span>
                            <span>人</span>
                        </p>
                    </div>
                    <div class="detial">
                        <p class="title">报销次数</p>
                        <p class="amount">
                            <span>{{check_count}}</span>
                            <span>次</span>
                        </p>
                    </div>
                </div>
            </div>
            <p class="describe">奖励金会在10个工作日内到达-我的钱包</p>
            <div class="listOfFriends">
                <p>邀请的好友</p>
                <ul class="showSpace" v-if="invite_users.length">
                    <li v-for="(item,index) in invite_users">
                        <div class="lfl">
                            <img v-if="item.avatar"  v-bind:src="'https://cdn.juliye.net/'+item.avatar" />
                            <img v-if="!item.avatar" src="/invite_prize/img/head@3x.png"/>
                        </div>
                        <div class="center">
                            <span>{{item.name | defaultName}}</span>
                            <span>{{item.timestamp | formatDate}}</span>
                        </div>
                        <div class="lfr">
                            <span>奖励：</span>
                            <span>￥</span>
                            <span>{{item.bonus + '.00'}}</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <p class="noneWord" v-if="invite_users.length == 0">暂无</p>
    </div>

</body>
</html>
<script>
  var data = '<%-data%>';
  data = JSON.parse(data);
  console.log(data);

  var getTimeFormat = function(timestamp){
    var date = new Date(timestamp);
    var result = '';
    var now = new Date();
    if(now.getFullYear() != date.getFullYear()){
      result += date.getFullYear() + '-'
    }
    if(now.toLocaleDateString() != date.toLocaleDateString()){
      var month = ((date.getMonth()+1)/10)<1 ? ('0' + (date.getMonth()+1)):(date.getMonth()+1);
      var day = (date.getDate()/10)<1 ? ('0' + date.getDate()):date.getDate();
      result += month + '-' + day + ' '
    }
    var hour = (date.getHours()/10)<1 ? ('0' + date.getHours()):date.getHours();
    var minute = (date.getMinutes()/10)<1 ? ('0' + date.getMinutes()):date.getMinutes();
    result += hour  + ":" + minute;
    return result;
  }
  new Vue({
    el: '#app',
    data: data,
    filters: {
      formatDate(time) {
        return getTimeFormat(time);
      },
      defaultAvatar(avatar){
        if(!avatar){
          return '/invite_prize/img/head@3x.png'
        }else{
          return avatar
        }
      },
      defaultName(name){
        if(!name){
          return '未命名'
        }else{
          return name
        }
      }
    },
    methods: {
    }
  });
</script>