
* {
    -webkit-touch-callout: none; /*系统默认菜单被禁用  禁止文章内容复制*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
html{
    width: 100%;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'PingFangSC', 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

div:nth-last-child(1) {
    border-bottom: none;
}

input[type="button"] {
    -webkit-appearance: none;
    outline: none
}

img {
    /*display:block;*/
    /*transform: scale(1)*/
    object-fit: cover;
}

p {
    padding-top: 0px;
}

.titleCss {
    margin-top: 17px;
    line-height: 12px;
    display: none;

}

.titleCss .left {
    /*position: absolute;*/
    float: left;
    left: 0;
    top: 0;
}

.titleCss .middle {
    /*margin: 20px 200px 0 300px;*/
}

.titleCss .right {
    /*position: absolute;*/
    float: right;
    right: 0;
    top: 0;
}

.favoriteBtnH5 {
    border: 1px solid #12B6BB;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    color: #12B6BB;
    background-color: white;
    letter-spacing: -0.36px;
    float: right;
    padding: 0px;
}

.favoriteBtn {
    border: 0px;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    letter-spacing: -0.36px;
    float: right;
    padding: 0;
}

.titleCss .sourceHome {
    margin-left: 11px;
    color: #000000;
    font-size: 17px;
    line-height: 21px;
}

.titleCss .source {
    margin-left: 11px;
    color: #000000;
    font-size: 17px;
    line-height: 21px;
}

.titleCss .createdAt {
    float: left;
    margin-left: 11px;
    color: #999999;
    font-size: 13px;
    line-height: 18px;
}

.source {
    margin-left: 11px;
    color: #000000;
    font-size: 15px;
    line-height: 21px;
}

#specialDepartment {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 3px;
}

.titleLengthCss {
    position:relative;
    float: left;
}
.titleLengthCss:after { /*使用伪元素*/
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFF; /*这个背景色要和p的背景色一致，也就是做个假^_^*/
    /*background: red; !*这个背景色要和p的背景色一致，也就是做个假^_^*!*/
    padding-left: 6px; /*这里自己调一调*/
}
.titleLengthCssTouch {
    position:relative;
    float: left;
}
.titleLengthCssTouch:after { /*使用伪元素*/
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    /*background: #FFF; !*这个背景色要和p的背景色一致，也就是做个假^_^*!*/
    background: #F0F0F0; /*这个背景色要和p的背景色一致，也就是做个假^_^*/
    padding-left: 6px; /*这里自己调一调*/
}
.touchCss {
    width: 100%; /*这个很重要，否则选中的部分，会少一段，不能铺满一整条*/
}

.touchCss:hover {
    background: #F0F0F0;
}

table tr {
    border: none;
    padding: 0px;
    /*display: block; !*将tr设置为块体元素*! 这样设置完元素，会有默认的margin、padding，无法修改，会使页面留有一定边距*/
    display: inline-flex; /*这种方式可以使tr和td的宽、高相等,这样的方式下，下面table tr td的设置才有效果*/
    margin: 0px 0; /*设置tr间距为2px*/

}

table tr td {
    border: none;
    padding: 0px;
    margin: 0px;
}

.homeBodyWrap {
    padding-left: 15px;
    padding-top: 12px;
}
.homeBodyWrap .item {
    position:relative;
    border-bottom: 1px solid #F4F4F4;
    padding-right: 15px;
}
.articleList{
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    border-bottom:solid 1px #FAFAFA;
    background: #FAFAFA;
    margin-bottom: 30px;
    margin-top: 60px;
}
.articleList li:nth-child(1){
    border-top: none;
}
.articleList li{
    list-style: none;
    height: 81px;
    border-top:solid 1px #F4F4F4;
    overflow: hidden;
}
.articleList li .part1{
    width: 70%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    float: left;
}
.articleList li img{
    width: 79px;
    height: 51px;
    object-fit: cover;
    float: right;
    margin-top: 15px;
    margin-right: 12px;
}
.articleList li .part2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    float: left;
}

.surface{
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    background: rgba(0,0,0,0.50);
    z-index: 99999999;
    display: none;
}

.surface img{
    width: 100%;
}