
h1{
    font-size: 15px;
    letter-spacing: -0.41px;
    font-weight: bold;
    margin:0;
}
i{
    font-size: 13px;
    color: #B3B3B3;
    letter-spacing: -0.32px;
    font-style: normal;
}
pre{
    margin:0 12px 0 12px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height:29px;
    font-family:Helvetica;
}
ul{
    list-style: none;
    padding:0;
}

body{
    font-family:  Helvetica;
    color: #000;
    padding:0;
    margin:0;

}

/*个人信息*/
.infomation{
    border-bottom:0.5px solid #e1e1e1;
    box-sizing: border-box;
    padding:12px 0 12px 12px;
    overflow: hidden;


}
.infomation img{
    height: 45px;
    width:45px;
    border-radius: 50%;
    float:left;
    background-color:#eee;
    border: solid 2px #e0e0e0;
}
.infomation .info{
    width: 80%;
    float: right;
    margin:7px 0 0 0px;
    position: relative;
}
.infomation .info em{
    font-weight: normal;
    font-style: normal;
    margin-left:10px;
    /*font-size:20px;*/
}

.infomation .info i{
    margin-top: 8px;
    display: inline-block;
    font-size: 13px;
}

/*动态*/
.dynamic{
    font-size: 15px;
}
.dynamic i{
    margin:12px 12px 0 12px;
    display: block;
    font-size: 15px;
    color:#000;
}
.dynamic i span{
    color:#000;
}
.dynamic p{
    font-size: 15px;
    line-height: 20px;
    margin:5px 12px 0 12px;
    text-align: justify;
}
.dynamic p span{
    margin:0px;
}
.dynamic pre .red{
    background:url("images/redxs@3x.png") no-repeat;
    padding-left:16px;
    background-size: 14px 15px;
    background-position: left center;
}

/*动态图片*/
.dynamic .pic_list{
    margin:0px;
}
.dynamic .pic_list li img{
    width:100%;
    margin-top:5px;
}
.dynamic .pic_list .hotline{
    height: 68px;
}
/*.dynamic .pic_list .hotline img{
    width:40%;
    margin-left:30%;
}
.dynamic .pic_list .hotline .logo{
    margin:0;
    position:relative;
    !*left:calc(45vw - 7px);
    top:calc(4.8px - 27vw);*!
    left:-25vw;
    top:-14vw;
    width:10vw;
    height:10vw;

}
.dynamic .pic_list .hotline p{
    margin:0;
    text-align: center;
    font-size:22px;
    !*font-size:15px;*!
    margin-top:10px;
   !* padding-left:10px;*!
    !*font-weight: bold;*!
}*/
@media screen  and (max-width: 320px) {
    .dynamic .pic_list .hotline p{
        margin:0;
        text-align: center;
        font-size:18px;
        /*font-size:15px;*/
        margin-top:6px;
        /* padding-left:10px;*/
        /*font-weight: bold;*/
    }

}
.dynamic h3{
    margin: 12px 12px 0 12px;
    font-size: 17px;
    color: #FF3B30;
    background: url("images/red@3x.png") no-repeat;
    background-size:17px 19px;
    padding-left:25px;
    font-weight: bold;
    line-height:17px;
    padding-bottom:2px;

}

/*查看、转发、点赞*/
.count_list{
    border-top:0.7px solid #ddd;
    height:44px;
    width:100%;
    position:fixed;
    bottom: 0;
    margin:0;
    background:#fff;

}
.count_list li{
    float: left;
    height: 24px;
    border-right:0.7px solid #ddd;
    width:33%;
    margin-top:10px;
    text-align: center;
    line-height: 24px;


}
.count_list li:first-child span{
    background: url('images/read@3x.png') no-repeat;
    background-size: 24px auto;
    background-position:0 center;
    padding-left:27px;
}
.count_list li:nth-child(2) span{
    background: url('images/thumbs-up@3x.png') no-repeat;
    background-size: 24px auto;
    background-position:0 center;
    padding-left:27px;
}
.count_list li:last-child{

    border:none;
}
.count_list li:last-child span{

    background: url('images/send@3x.png') no-repeat;
    background-size: 24px auto;
    background-position:0 center;
    padding-left:27px;
}

/*历史动态图片*/
.dynamic_pic_list{
    margin:12px;
    width:calc(100% - 24px);
    overflow: hidden;
}
.dynamic_pic_list:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.dynamic_pic_list li{
    /*float:left;
    width:calc((100% / 3) - 10px);
    height:calc((100vw / 3) - 10px);
*/

    /*list-style: none;*/
    float: left;
    width: calc((100% / 3) - 10px);
    margin-left:3px;
}
.dynamic_pic_list li:first-child{
     margin-left:0;
 }
.dynamic_pic_list li:nth-child(4){
    margin-left:0;
}
.dynamic_pic_list li:nth-child(4),.dynamic_pic_list li:nth-child(5),.dynamic_pic_list li:nth-child(6),.dynamic_pic_list li:nth-child(7),.dynamic_pic_list li:nth-child(8),.dynamic_pic_list li:nth-child(9){

    margin-top:3px;
}
.dynamic_pic_list li:nth-child(7){
    margin-left:0;
}
.dynamic_pic_list li div{
    /*width:100%;
    height: 100%;*/

    display: block;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 100%; /* 关键就在这里 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dynamic .mg12{
    margin-top:12px;
}

/*二维码*/
.QR{
    width:calc(40%);
    margin:0 auto;
    padding-top:20px;
}

/*红包*/
.red_info{
    margin:0;
    padding:0;
    padding-bottom:50px;
}
.red_info p{
    margin-top:0px;
    padding:0;
    color:#33a5ee;
}
.red_info em{
    font-style: normal;
}

/*点击加载更多按钮*/
.pageButton{
    width:100%;
    background-color:#fff;
    border:none;
    height:40px;
    font-size: 15px;
    color:#000;
}
.line{
    width:100%;
    border-top:1px solid #b3b3b3;
    -moz-transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5)

}
/*公用*/
.position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}

/*缺省页*/
.default{
    display: none;
    color:#B3B3B3;
}
.default img{
    width: 92px;
    height: 102px;

}
.default p{
    margin-top:14px;
}

/*刷新页*/
.renovation{
    color:#B3B3B3;
}
.renovation img{
    width: 92px;
    height: 92px;
}
.renovation p{
    margin-top:14px;
}
.content{
    height:100%;
    width:100%;
    position: absolute;
}

.show_count{
    width: 80px;
    height: 15px;
    margin: 0;
    position: absolute;
    top: 6px;
    right: 5px;
}
.show_count li{
    width:40px;
    height: 15px;
    line-height: 15px;
    float:left;
    font-size: 12px;
    color: #999999;
}
.open_download{
    width: 100%;
    height: 68px;
    background: #f3f3f3;
    position: fixed;
    bottom: 0px;
}
.open-logo{
    width: 48px;
    height: 48px;
    margin: 10px 0px 0px 10px;
    float: left;
}
.open-logo img{
    width: 100%;
}
.open_content{
    width: 124px;
    height: 40px;
    float:left;
    margin: 20px 0px 0px 12px;
}
.open_content span{
    width:100%;
    height:18px;
    line-height: 18px;
    font-size: 15px;
    color:#5c5c5c;
    float: left;
}
.open_content i{
    width:100%;
    font-style:italic;
    color: #9f9f9f;
    float: left;
    font-size: 12px;
    line-height: 15px;
    height: 15px;
}
.jump_download{
    float: right;
    width: 90px;
    height: 30px;
    background: #ff8021;
    color:#ffffff;
    font-size: 13px;
    text-align: center;
    border:none;
    border-radius: 5px;
    margin: 20px 20px 0px 0px;
}
.red_paper{
    width: 100%;
    height: 32px;
    background: #fe6c54;
    color: #ffffff;
    font-size: 13px;
    line-height: 32px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.red_paper span{
    width: 184px;
    float: left;
    margin-left: 15px;
}
.red_paper button{
    width: 56px;
    height: 22px;
    line-height: 22px;
    border:none;
    border-radius:5px;
    font-size: 14px;
    color:#fe6c54;
    text-align: center;
    background: #ffffff;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
.dynamic #content{
    font-size: 16px;
    line-height:30px;
    color: #222;
}