/*整页样式*/
h4{
    color:#fa1686;
    font-size: 25px;
}
ul{
    font-size:15px;
}
ul li{
    margin-top:5px;
}

/*Q&A样式*/
.Q-A{
    margin:0 12px;
    padding-bottom:12px;
}
.Q-A ul li:last-child{
    margin-top:24px;
}
.Q-A ul li i{
    color:#fa1686;
    font-size: 15px;
    display: block;
}
.rules{
    border-top:2px dashed #fff;
    padding:0 12px;
    padding-top:12px;
}
/*按钮*/
.share-button{
    width:100%;
}
.button{
    width:100%;
}
.shareBtn{
    border:none;
    background-size: 100% 100%;
    width:300px;
    margin-left:calc(50% - 150px);

}

/*页面各种背景*/
.top{

    width:100%;
}

.content{
    background:url("images/bg540_30.png") repeat-y;
    width:100%;
    background-size: 100% auto;
    margin-top:-10px;
    padding-bottom:20px;
}

/*
转发去微信页面*/
.get-coupon{
    margin:0 12px;
    display: block;
    color:#fa1686;
    font-size:15px;
}
.get-coupon ul li{
    overflow: hidden;
    height:30px;
}
.get-coupon ul li span{
    text-align: right;
    width:61px;
    display: inline-block;
}
.get-coupon ul li input[type="text"]{
    margin-left:6px;
    height:25px;
    border:1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    padding-left:5px;
    color:#000;
    outline: none;
    margin-right:6px;
    width:calc(100% - 152px);
    /* width:calc(100% -);
     overflow:hidden;*/
}
.get-coupon ul li:last-child input[type="text"]{
    width:30%;
}
.get-coupon ul li button{
    background-color: #fa1686;
    border:none;
    color:#fff;
    height:25px;
    width:67px;
    border-radius: 8px;
    float:right;
}
.mgt{
    margin-top:20px;
}

/*春游补贴*/
.spring-back{
    width:100%;
}

.mg{
    margin-top:-4px;
}

/*三天三夜*/
.get-coupon ul li .threeDays-auth-code{
    float:none;
    width:80px;
    background-color: #ff7903;
}
.three-btn-background{
    background:url('http://7j1ztl.com1.z0.glb.clouddn.com/1.2.png')
}
.three-btn-background2{
    background:url('http://7j1ztl.com1.z0.glb.clouddn.com/3.2.1.png');
    width:100%;
    background-size:100% 100%;
}
.three-btn-background3{
    background:url('http://7j1ztl.com1.z0.glb.clouddn.com/2.3.png');
    width:100%;
    background-size:100% 100%;
}
.three-days-list{
    color:#fff;
    background-color:#ff7903 ;
    margin-top:-3px;
    font-size:15px;
    padding:18px 8px;
}
.three-days-list h2{
    font-size: 18px;
}
.three-days-input{
    background:url('http://7j1ztl.com1.z0.glb.clouddn.com/2.2.png');
    width:100%;
    background-size:100% 100%;
}
.get-coupon .three-days-out li span{
    color:#000;
}
.get-coupon .three-days-out li input[type="text"]{
    border-radius: 6px;
    width:calc(100% - 86px);
    /* width:;
     overflow:hidden;*/
}

fieldset{
    border-top:1px solid #000;

}
fieldset legend{
    text-align: center;
}

.alert{
    width:270px;
    /*  height:146px;*/
    background: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}
.cushion{
    width:100%;
    /* margin-top:18px;*/
}
.cushion img{
    height:59px;
    width:59px !important;
    margin:0 auto;
    display:block;
}
#change{
    animation:run 3s linear 0s infinite;
    -webkit-animation:run 3s linear 0s infinite;

}
@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }

}
.filter{
    background: #fff;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    opacity:0.1;
}

/*五月活动*/
.mayActivity{
    width:100%
}
.mayActivity img{
    width:100%;
}
.mayActivity .may-content{
    background:#FBDD9C;
    margin-top:-5px;
    padding-bottom: 9px;
    padding-top:1px ;
}
 .may-button{
    margin:0 48px;
    padding-top:17px;
}
.may-button .btn{
    height:44px;
    border:none;
    background: url("http://7j1ztl.com1.z0.glb.clouddn.com/%E6%8C%89%E9%92%AE@2x.png");
    background-size: 100% 100%;
    width: 100%;
    font-size: 16px;
    color: #FFF;
    letter-spacing: -0.48px;
    line-height:44px;
    outline: none;
}
.may-rules{
    background-color: #F8E6BF;
    margin:19px 13px 0;
    padding:12px;
    color: #87481B;
    border-radius: 4px;
}
.may-rules h3{
    font-size: 14px;
    letter-spacing: -0.48px;
    font-weight: bold;
}
.may-rules ul{
    font-size: 12px;
}

/*领取成功*/
.content2{

    background: url(http://7j1ztl.com1.z0.glb.clouddn.com/pagetwo_bg.png) no-repeat;
    padding:32px 12px 22px 13px;
}
.suc-content{

    background-color: #fff5df;
    border-radius: 4px;
}
.suc-content ul{
    padding-top:1px;
}
.suc-content ul li{
    border-bottom: 1px dashed #CFB16F;
    padding-bottom: 18px;
}
.suc-content ul li:last-child{
    border: none;
}
.suc-content ul li h2{
    display: block;
    width:80px;
    margin:17px 0 0 15px;
    padding: 2px 0;
    background-color: #FBDD9C;
    font-size: 14px;
    color: #87481B;
    letter-spacing: 0.78px;
    text-align: center;
    border-radius: 10px;

}
.suc-content ul li .img{
    margin:18px 16px 21px;
}
.suc-content ul li .success {
    text-align: center;

}
.suc-content ul li span{
    font-size: 22px;
    color: #555;
    letter-spacing: -0.66px;
    padding-left:35px;
}
.suc-get{
    background: url(images/suc@2x.png) no-repeat;
    background-size: auto 80%;
    background-position:left 4px;
}
.suc-content ul li .success button{
    height:44px;
    border:none;
    background: url("http://7j1ztl.com1.z0.glb.clouddn.com/%E6%8C%89%E9%92%AE@2x.png");
    background-size: 100% 100%;
    margin: 0 auto;

}
.mg{
    margin-bottom:20px;
}
.may-button .input{
    width:100%;
    height:44px;
    border-radius: 25px;
    border: none;
    padding:0 20px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 44px;
    outline: none;
}
.may-button p{
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    color: #9D7148;
    letter-spacing: -0.42px;
}
.status p{
    position: absolute;
    top:39%;
    left: 50%;
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    color:#E26254;
    font-size: 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}
.figure{
    background: url(http://7j1ztl.com1.z0.glb.clouddn.com/WechatIMG3.png);
    padding-bottom: 20px;
    background-size: cover;
}
.figure .coupon-out{
    padding: 20px 50px;
}
.figure .button-out{
    padding: 0 20px;
}
.figure .button-out button{
    background: #00dc83;
    display: block;
    width:100%;
    font-size: 18px;
    line-height: 45px;
    border:none;
    color: #ffffff;
    font-weight:100;
    font-family: RTWSYUEGOTRIAL-REGULAR;
    letter-spacing: 2px;
}
.figure .success{
    color: #00dc83;
    text-align: center;
    font-size: 26px;
    font-family: RTWSYUEGOTRIAL-REGULAR;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.figure .success-sub{
    color: #00dc83;
    text-align: center;
    font-size: 14px;
    font-family: RTWSYUEGOTRIAL-REGULAR;
    letter-spacing: 4px;
    margin-top: 20px;
}
.errAlert{
    width:270px;
    /*  height:146px;*/
    background: #FFFFFF;
    position: fixed;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}
.input-out{
    padding: 0 20px 20px;
}
.input-out label{
   font-size: 16px;
    color: #00dc83;
}
.input-out input{
    BACKGROUND-COLOR: transparent;
    border: 0;
    border-bottom: 1px solid #00dc83;
    color: #00dc83;
    font-size: 16px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}
.input-out span{
    background: #00dc83;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    padding:0 5px;
}
.input-out .phoneNum-out{
  overflow: hidden;
}
.input-out .phoneNum-out label{
    float: left;
}
.input-out .phoneNum-out div{
  overflow: hidden;
}
.input-out .phoneNum-out div span{
  float: right;
}
.input-out .phoneNum-out div div{
  margin-right:52px;
}
.input-out .phoneNum-out div div input{
  width:100%;
}