<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>领券活动</title>
    <link href="../general_file/general_css.css" rel="stylesheet" type="text/css" />
    <link href="activity.css" rel="stylesheet" type="text/css"/>


    <!-- Vue -->
    <!--  <script src="lib/vue.min.js"></script>
      <script src="lib/vue-resource.min.js"></script>-->

    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.1/vue-resource.min.js"></script>

    <script src="../general_file/general_js.js"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0d028855732a5d0984ac8d1eca62bbfb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

</head>
<body>
<div class="mayActivity">
    <div>
    <img src="http://7j1ztl.com1.z0.glb.clouddn.com/WechatIMG17.png"/>
    <div>
    <div class="figure">
        <div class="coupon-out">
            <img src="http://7j1ztl.com1.z0.glb.clouddn.com/WechatIMG5.png" />
        </div>
        <div class="success" v-show="drawSucc" style="display: none">领取成功！</div>
        <div class="input-out" v-show="!drawSucc">
            <div class="phoneNum-out">
                <label>手机号码</label>
                <div>
                  <span v-on:click="getAuthCode" v-show="canGetAuthCode">验证</span>
                  <span v-show="!canGetAuthCode" v-text="countDown" style="width: 50px;text-align: center"> </span>
                  <div>
                    <input type="number" v-model="phoneNum" />
                  </div>
                </div>
            </div>
            <div>
                <label>验证码</label><input type="text" v-model="authCode"/>
            </div>

        </div>
        <div class="button-out">
            <button v-show="!drawSucc" v-on:click="getCoupon">
                点击领取
            </button>
            <button v-show="drawSucc" v-on:click="goUse">
                立即使用
            </button>
        </div>
        <div v-show="drawSucc" class="success-sub" style="display: none">点击 "我" - "我的钱包" 查看</div>
    </div>
    <div class="may-rules" style="background: #FFFFFF;color: #000000">
        <h3 style="font-family: RTWSYUEGOTRIAL-REGULAR">活动规则:</h3>
        <ul>
            <li>1、本活动5元通用券仅适用于会员专区商户，仅限会员领取</li>
            <li>2、同一用户仅限领取1张，同一账户、手机号码、支付账户等均视为同一用户</li>
            <li>3、本次活动参与用户需将本活动分享到微信或朋友圈才可领取，分享后优惠券自动到账</li>
            <li>4、任何非正常购买到行为，均视为作弊行为，本公司有权取消会员资格</li>
            <li>5、法律允许范围内，解释权归本公司所有</li>
        </ul>
    </div>
    <div v-if="isLoading">
        <div class="gen-gray-back"  id="gray"></div>
        <div class="alert" style="padding:15px; width:170px; background-color:rgba(255,255,255,0.0)" id="suc_alert">
            <div class="cushion">
                <img src="../apply_doctor/images/Loading@3x@3x.png" id="change">
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el:".mayActivity",
        data:{
            isLoading:true,
            drawSucc:false,
            phoneNum:"",
            authCode:"",
            canGetAuthCode:true,
            countDown:30
        },
        mounted:function(){
            this.isLoading=false;
        },
        methods:{
            getCoupon: function(){
              if(vm.authCode==""){
                alert('请输入验证码');
                return;
              }
                vm.isLoading=true;
                this.$http({
                    method: 'GET',
                    url: "/1/activity/share/getCouponInWX170526?phoneNum="+vm.phoneNum + "&authCode=" + vm.authCode,
                    }).then(function(res){
                    console.log(res)
                    vm.isLoading=false;
                    vm.drawSucc = true;
                },function(err){
                    console.log(err);
                    if(err.body.code){
                        var code=err.body.code;
                        vm.isLoading=false;
                        if(code=="1601"){
                            alert("您已经领取过啦！");
                        }else if(code == "2202"){
                            alert("优惠券被领完啦！");
                        }else if(code == "1502"){
                            alert("验证码错误");
                        }
                        else{
                            alert("领取失败");
                        }
                    }else{
                        vm.isLoading=false;
                        alert("领取失败");
                    }

                });
            },
            goUse : function(){
                 window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.zlycare.docchat.c";
            },
            getAuthCode : function(){
              var reg = /^(13|15|18|17)[0-9]{9}$/;
              if(vm.phoneNum=="" || !reg.test(vm.phoneNum)){
                alert('请输入正确的手机号');
                return;
              }
              vm.canGetAuthCode = false;
              var timer = setInterval(function(){
                if(vm.countDown <= 0){
                  vm.countDown = 30;
                  vm.canGetAuthCode = true;
                  clearInterval(timer);
                }else{
                  vm.countDown--;
                }
              },1000);
              this.$http({
                method: 'GET',
                url: "/1/common/authCode?phoneNum="+vm.phoneNum,
              }).then(function(res){

              },function(err){
                alert("获取验证码失败");
              });
            }
        }
    });
</script>
</body>
</html>