/*body{
    font-size: 15px;
}
.coupon{
    margin:12px;
}
.coupon li{
    border:1px solid #ddd;
    height:84px;
}
.coupon li .money{
    width:50px;
    border-right:1px dashed #ddd;
    float:left;
}
.coupon li .border{
    border-right:4px solid #1BADF8;
    width:0px;
    float: right;
    height:100%;
}
.coupon li .money span{
    text-align: center;
    display: block;
}
.coupon li .infomation{
    overflow: hidden;
}
.coupon li .infomation ul li{
   height:26px;
}

.rules{
    text-align: center;
}
.btn{
    margin-top:24px;
}*/
body{
    background: #eee;
}
.coupon{
    margin:24px 24px;
}
.coupon .money{
    height: 63px;
    background:#27bcc2;
    line-height: 63px;
    font-size: 16px;
    color: #FFF;
    border-radius: 8px 8px 0 0;
}
.coupon .money p{
    background: url("images/shop@3x.png") no-repeat;
    background-size: 20px 20px;
    padding-left: 52px;
    background-position: 20px;
}
.coupon .content p{
    text-align: center;
    color:#333;
    font-size:17px;
    padding-top:65px;
    padding-bottom:20px;
    width:100%;
  /*  border:1px solid #e6e6ea;
    border-bottom:none;
    box-shadow:0px 1px 0px #c3c3c3;*/
    background: #fff;


}
.coupon .content .moneyBorder{
    position:relative;
}
.coupon .content .moneyBorder:before{
    content: '';
    position: absolute;
    width: 1000%;
    height: 1000%;
    /*width: 400%;
    height: 400%;*/
    border-left: 1px solid #e6e6ea;
    border-right: 1px solid #e6e6ea;
    /*border-left: 1px solid #000;
    border-right: 1px solid #000;*/
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    /*-webkit-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);*/
    /*transform: scale(0.25, 0.25);*/
    -webkit-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.coupon .content p span{
    font-size: 70px;
    color:#27bcc2;
    font-weight: bold;
}
.coupon .content em{
    display: block;
    text-align: center;
    background: #fff;
    color: #666;
    padding-bottom:50px;
}
.coupon .button{
    background:#fff;
    text-align: center;
    padding:10px 0;
   /* border:1px solid #e6e6ea;
    border-top:none;
    border-bottom:none;*/
    position:relative;

}
.coupon .button button{
    height:46px;
    width:60%;
    border-radius: 30px;
    border:none;
    background: #27bcc2;
    font-size: 18px;
    color:#fff;

}

.coupon .content .content-border{
    background: url("images/hexiao_youhiquan2@3x.png");
    background-size:100% 100%;
    height:24px;
}
.coupon .content .button-border{
    background: url("images/hexiao_youhiquan1@3x.png");
    background-size:100% 100%;
    height:24px;
}
/*.coupon .content{
    background: #fff;
    border-radius: 0 0 8px 8px;
}
.coupon .content img{
    height:120px;
    width:120px;
    margin:0 auto;
    display: block;
    padding-top:12px;
}
.coupon .content .coupon-id{
    text-align: center;
    font-size: 17px;
    color: #000000;
    letter-spacing: -0.41px;
    margin-top:36px;
}
.coupon .content span{
    margin:12px;
    display: block;
    font-size: 13px;
    color: #B3B3B3;
    letter-spacing: -0.31px;
    padding-bottom:24px;
}*/
.coupon .content .btn{
    background: #bbb;
    color:#eee;
    width:90%;
    font-size: 14px;
}
.alert{
    width:270px;
    /*  height:146px;*/
    background: #FFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}
.cushion{
    width:100%;
    /* margin-top:18px;*/
}
.cushion img{
    height:59px;
    width:59px;
    margin:0 auto;
    display:block;
}
#change{
    animation:run 3s linear 0s infinite;
    -webkit-animation:run 3s linear 0s infinite;

}
@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }

}