/*全局css定义*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
body{ font-family:Helvetica; background:#fff; font-size:12px; color:#333;}
i,b,s{font-family:Helvetica; font-style:normal; text-decoration:none; font-weight:normal;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
table,td,input{font-size:12px;padding:0}
a,em{text-decoration:none; color:#000;}

@font-face { font-family: RTWSYUEGOTRIAL-REGULAR;  src: url(../general_file/gen_assets/RTWSYUEGOTRIAL-REGULAR.OTF);  }


body{
    font-family:Helvetica;
    color:#000;
}



/*圆的头像*/
.gen_info_img{
    height:54px;
    width:54px;
    margin:12px auto;
    display: block;
    border-radius: 40px;
}

/*按钮*/
.gen-long-full-btn{
    margin:0 auto;
    height:44px;
    border-radius: 4px;
    border:none;
    background-color:#33A5EE;
    color:#fff;
    font-size: 17px;
    width:100%;
    display:block;
}

/*灰色遮罩层*/
.gen-gray-back{
    width:100%;
    height:100%;
    z-index: 10;
    position: fixed;
    left: 0;
    top:0;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

/*0.7px的线条*/
.gen-thin-line{
    -moz-transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -o-transform: scaleY(0.7);
    transform: scaleY(0.7)
}

/*灰色的背景#eee*/
.gen-gray-e{
    background-color:#eee;
}
/*白色背景*/
.gen-gray-f{
    background-color:#fff;
}

/*for vue*/
[v-cloak] { display: none }

/*margin*/
.gen-mgt12{
    margin-top:12px;
}