<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <link rel="stylesheet" href="activity_detail.css" />
</head>
<body>
<div class="all" id="app">
    <div class="wrapper">
        <div style="width: 100%; height: 168px;"></div>

        <div class="card" v-for="(item, index) in product_list">
            <div class="desc">请添加您、家人和朋友常用的营养品或保健品</div>

            <div class="inputSp">
                <div class="detail" v-if="!item.isOther">
                    <div class="brand">
                        <div class="title">品牌</div>
                        <div class="select" >
                            <select class="select_style" v-model="item.brand" @change="getNames(index)">
                                <option disabled value="" >请选择</option>
                                <option v-for="item in brands" :value="item">{{item}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="product">
                        <div class="title">产品</div>
                        <div class="select">
                            <select class="select_style" v-model="item.name">
                                <option disabled value="">请选择</option>
                                <option v-for="item in names" :value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="money">
                        <div class="title">金额</div>
                        <div class="select">
                            <input class="input_money" type="number" v-model="item.price"/>
                            <div class="unit">元/年</div>
                        </div>
                    </div>
                </div>

                <div class="other" v-if="item.isOther">
                    <div class="title">其他</div>
                    <div class="select">
                        <input class="input_other" type="text" v-model="item.other"/>
                    </div>
                </div>
                <div class="btn_sp">
                    <div class="left_btn" v-on:click="plusOne">
                        <img class='plus' src="https://cdn.juliye.net/2030_activity_add@1.5x.png"/>
                        <div class="plus_word">继续添加</div>
                    </div>
                    <div class="right_btn" v-if="!item.isOther" v-on:click="showOther(index)">
                        <div class="more_word">其他品牌产品</div>
                        <img class='more' src="https://cdn.juliye.net/2030_activity_others@1.5x.png"/>

                    </div>
                    <div class="right_btn" v-if="item.isOther" v-on:click="showOther(index)">
                        <div class="more_word">返回选择产品</div>
                        <img class='back' src="https://cdn.juliye.net/2030_activity_back@1.5x.png"/>

                    </div>
                </div>
            </div>
        </div>

        <div class="card_user">
            <div class="desc">如果您需要的产品有优惠活动，我们将第一时间通知您</div>
            <div class="inputSp">
                <div class="name">
                    <div class="title">姓名</div>
                    <div class="select">
                        <input class="input_other" type="text" v-model="name"/>
                    </div>
                </div>
                <div class="phone">
                    <div class="title">电话</div>
                    <div class="select">
                        <input class="input_other" type="number" v-model="phone"/>
                    </div>
                </div>

            </div>
        </div>

        <div class="upload">
            <div class="btn" v-on:click="uploadData" v-if="!once">提交</div>
            <div class="btn_no" v-if="once">提交</div>
        </div>

    </div>
    <div class="cover" v-if="isCover" v-on:click="closeCover">
        <div class="msg_card">{{msg}}</div>
    </div>

</div>
</body>
<script>
    new Vue({
      el:'#app',
      data:{
        product_list:[
          {
            brand : '',
            name : '',
            price : '',
            other : '',
            isOther:false
          }
        ],
        name:'',
        phone:'',
        brands:[

        ],
        names:[],
        keywords:'',
        activity_id:'',
        recommended_user_id :'',
        user_id :'',
        once: false,
        msg:'请填写完整数据！',
        isCover: false
      },
      methods:{
        getBrand(){
          let that = this;
          that.$http
            .get('/mc_weapp/product/activity/get_info_1_other',{params:{
              type: 0
              }
            })
            .then(function (res) {
              // 更新当前数据
              that.brands = res.body.data

            }, function (err) {
              console.log(err);
            });
        },
        getNames(index){
          let that = this;
          let keywords = that.product_list[index].brand;
          that.$http
            .get('/mc_weapp/product/activity/get_info_1_other',{params:{
              type: 1,
              keywords : keywords
            }
            })
            .then(function (res) {
              // 更新当前数据
              that.names = res.body.data

            }, function (err) {
              console.log(err);
            });
        },
        plusOne(){
          let that = this;
          let moreCard={
            brand : '',
            name : '',
            price : '',
            other : '',
            isOther:false
          };
          that.product_list.push(moreCard);
        },
        showOther(index){
          let that = this;
          let isOther = that.product_list[index].isOther;

          if( isOther == false){
            that.product_list[index].isOther = true;
            that.product_list[index].brand = '';
            that.product_list[index].name = '';
            that.product_list[index].price = '';
          }else{
            that.product_list[index].isOther = false;
            that.product_list[index].other = ''
          }

          that.data = that.data;
        },
        closeCover(){
          let that = this;
          that.isCover = false;
          that.data = that.data;
        },
        uploadData(){
          let that = this;
          let products = [];
          for(var i=0;i<that.product_list.length;i++){
            if(that.product_list[i].isOther == false){
              if(that.product_list[i].brand == '' || that.product_list[i].name == '' || that.product_list[i].price == ''){
                that.isCover = true;
                that.data = that.data;
                return;
              }
            }else{
              if(that.product_list[i].other == ''){
                that.isCover = true;
                that.data = that.data;
                return;
              }
            }

            if(that.name == ''){
              that.isCover = true;
              that.data = that.data;
              return;
            }
            if(that.phone == ''){
              that.isCover = true;
              that.data = that.data;
              return;
            }


            products.push({
              brand:that.product_list[i].brand,
              name:that.product_list[i].name,
              price:that.product_list[i].price,
              other:that.product_list[i].other
            })

          }
          let upList={
            activity_id: that.activity_id,
            recommended_user_id : that.recommended_user_id,
            user_id : that.user_id,
            products : products,
            name: that.name,
            phone: that.phone
          };
          that.$http
            .post('/mc_weapp/product/activity/sign_up_1',upList)
            .then(function (res) {
              // 更新当前数据
              if(res.body.code == '200'){
                that.once = true;
                that.isCover = true;
                that.msg = '提交成功';
                that.data = that.data;
                wx.miniProgram.navigateBack({
                  url:'/pages/recommend_goods/recommend_list/recommend_list?scene='+that.recommended_user_id
                })
              }else{
                that.once = true;
                that.isCover = true;
                that.msg = res.body.msg;
                that.data = that.data;
              }
            }, function (err) {
              console.log(err);
            });
        }
      },
      created(){
        let that = this;
        that.getBrand();
        var route = window.location.href;
        var localarr = route.split('?')[1].split('&');
        var tempObj = {};
        for (var i = 0; i < localarr.length; i++) {
          tempObj[localarr[i].split('=')[0]] = localarr[i].split('=')[1];
        }
        that.activity_id = tempObj.activity_id;
        that.recommended_user_id = tempObj.recommended_user_id;
        that.user_id = tempObj.user_id;
        that.data = that.data;
      },
    })
</script>
</html>