body{
    background: #eee;

}
.title{
    position: relative;
    width:100%;
}
.input{
    color:#000;
}
 h3{
    /* width:50%;*/
    padding-left:30px;
    margin:16px 0 18px 0;
    font-size: 17px;
    /*color: #535353;*/
    letter-spacing: -0.41px;
    background:url(images/print@3x.png) no-repeat;
    background-size: auto 100%;
    margin-left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height:20px;


}
@media only screen
and (max-width: 320px)
{
    /* style */
    h3{
        font-size: 14px;
        height:16px;
    }
}
.card-list{
    font-size: 17px;
    /*color: #535353;*/
    letter-spacing: -0.41px;
    background: #fff;
    margin-bottom:15px;
}
.card-list li{
    min-height: 44px;
    padding:0 12px;
    overflow: hidden;
}
.card-list li:first-child input{
    border:1px solid #f0ad4e;
}
.card-list li span{
    line-height: 44px;
    float:left;
}
.card-list li:nth-child(2) input{
    margin-left:25px;
}

.card-list li input,
.card-list li .position
{
    float: left;
    height:20px;
    /*border:1px solid #535353;*/
    border:none;
    width:64%;
    margin:6px 20px 0 10px;
    font-size: 17px;
   /* color: #535353;*/
    padding:4px;

}
.card-list li input:focus{
    border:1px solid #33A5EE;
    outline: none;
}
.card-list li .textarea{
   /* border:1px solid #1BADF8;*/
    padding:4px;
    width:64%;
    float: left;
    margin:6px 20px 10px 10px;
    display: inline-block;
}
.card-list li .textarea:focus{
    border:1px solid #33A5EE;
    outline: none;
}
.card-list li:nth-child(2n+1){
    min-height:0;
    height:0;
    border-top:1px solid #bfbfbf;
    -moz-transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
p{
    font-size: 15px;
    color: #B3B3B3;
    letter-spacing: -0.36px;
    text-align: center;
    margin:0 5px;
}
.alert{
    width:90%;
    background: #FFFFFF;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
}
.closeAlert{
    width:22px;
    height:22px;
    border:0;
    float:right;
   /* margin:0;
    margin:4px ;*/
    margin-right:4px ;
    background: #FFF;


}
.closeAlert img{
    width:200%;
    height:100%;
}
.position-list{
    padding:0 10px 10px;
    overflow: hidden;
    font-size:17px;
    /*margin:10px 0;*/
    width:100%;
    height:28px;
}
.position-list li:first-child{
    margin-left:1%;
    width:48%;
}
.position-list li{
    width:40%;
    float:left;
    margin-left:3%;
    margin-right: 0;
    height:28px;

}
.position-list li select{
    height:28px;
    border:1px solid #eee;
    border-radius: 4px;
    font-size: 17px;
   /* color:#535353;*/
    width:100%;
  /*  border-top:1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
*/    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url(images/arrow.png) no-repeat scroll right center transparent;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;

}
