<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <link rel="stylesheet" href="find_specialist.css" />
</head>
<body>
<div class="all" id="app">
    <div class="wrapper">
        <div class="top">
            <img src="https://cdn.juliye.net/2030_act_character@3x.png">
        </div>
        <div class="center_form">
            <div class="form_item">
                <div class="form_title">姓名</div>
                <div class="form_input">
                    <input class="input_sp" type="text" v-model="postData.name"  disabled="disabled"/>
                </div>
            </div>
            <div class="form_item">
                <div class="form_title">手机号</div>
                <div class="form_input">
                    <input class="input_sp" type="number" v-model="postData.phone"  disabled="disabled"/>
                </div>
            </div>
            <div class="form_item">
                <div class="form_title">病种</div>
                <div class="form_input">
                    <input class="input_sp" type="text" v-model="postData.diseases"  disabled="disabled"/>
                </div>
            </div>
            <div class="form_item">
                <div class="form_title">所需服务</div>
                <div class="form_input">
                    <input class="input_sp" type="text" v-model="postData.services"  disabled="disabled"/>
                </div>
            </div>
            <div class="btn_no">提交</div>
        </div>
        <div class="qrcode">
            <img src="https://cdn.juliye.net/2030_act_qrcode.jpeg" />
        </div>
        <div class="desc">点击提交后请加医生助理微信，完成报名</div>
        <div class="desc_2">祝您身体健康 生活愉快</div>
    </div>


    <div class="cover" v-if="isCover" v-on:click="closeCover">
        <div class="msg_card">{{msg}}</div>
    </div>

</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            isCover:false,
            msg:'请填写完整数据!',
            diseases:[],
            services:[],
            postData:{
                activity_id:'',
                recommended_user_id:'',
                user_id:'',
                diseases:'',
                services:'',
                name:'',
                phone:''
            },
            other_diseases:'',
            other_services:'',
            isOther:false,
            isOther2:false

        },
        methods:{
            getDetail(){
                let that = this;
                that.$http
                    .get('/mc_weapp/product/activity/2/get_info',{params:{
                            id: that.postData.activity_id,
                            user_id: that.postData.user_id}
                    })
                    .then(function (res) {
                        console.log("+++++++++++");
                        console.log(res);
                        that.postData= res.body.data;
                        console.log("+++++++++++");

                        // 更新当前数据
                        // that.product_list = res.body.data.products;

                        that.data = that.data;

                    }, function (err) {
                        console.log(err);
                    });
            }

        },
        created(){
            let that = this;
            var route = window.location.href;
            var localarr = route.split('?')[1].split('&');
            var tempObj = {};
            for (var i = 0; i < localarr.length; i++) {
                tempObj[localarr[i].split('=')[0]] = localarr[i].split('=')[1];
            }
            that.postData.activity_id = tempObj.id;
            that.postData.user_id = tempObj.user_id;
            that.data = that.data;
            that.getDetail();
        },
    })
</script>
</html>