*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    color:#000;
}
.all{
    width: 100%;
    background: url("https://cdn.juliye.net/2030_act_bg@3x.png") no-repeat top center;
    background-size: cover;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 146px;
    padding-top: 20px;
    overflow: hidden;
}
.top img{
    width: 349px;
    height: 125px;
    display: block;
    margin: 0 auto;
}
.center_form{
    margin: 20px 12px;
    padding: 12px 0px 30px 12px;
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    box-sizing: border-box;
}
.form_item{
    width: 100%;
    overflow: hidden;
}
.form_title{
    font-family: PingFangSC-Regular;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: #763B1B;
    float: left;
}
.form_input{
    width: 75%;
    height: 49px;
    float: right;
    border-bottom: solid 1px #F0F0F0;
}
.input_sp{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #763B1B;
    padding-left: 4px;
    box-sizing: border-box;
}
.select_style{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #763B1B;
    background: #ffffff;
}
input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #763B1B;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #763B1B;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #763B1B;
}
input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #763B1B;
}
input:disabled{
    background: #ffffff;
}
.submit{
    width: 70%;
    height: 44px;
    line-height: 44px;
    background: #EB1616;
    border-radius: 22px;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.btn_no{
    width: 70%;
    height: 44px;
    line-height: 44px;
    background: #999999;
    border-radius: 22px;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.qrcode{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}
.qrcode img{
    width: 130px;
    height: 130px;
}
.other{
    width: 75%;
    height: 50px;
    float: right;
}
.desc{
    width: 100%;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #763B1B;
    letter-spacing: 0.16px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    margin-top: 20px;
}
.desc_2{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #F12727;
    letter-spacing: 0.16px;
    text-align: center;
    margin-top: 30px;
}
.cover{
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #4a474775;
}
.msg_card{
    width: 70%;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    background: #ffffff;
    position: absolute;
    top: 45%;
    left: 15%;
    text-align: center;
    font-size: 17px;
    color: #000;
    border: solid 2px #eeeeee;
}