<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职业信息更改</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <title>修改职业信息</title>
    <!-- JQuery -->
    <!--<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap.min.js"></script>-->

    <!--<script src="https://7j1ztl.com1.z0.glb.clouddn.com/vue.min.js"></script>
    <script src="https://7j1ztl.com1.z0.glb.clouddn.com/vue-resource.min.js"></script>-->

    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <!-- Private -->
    <link rel="stylesheet" href="../general_file/general_css.css" />
    <link rel="stylesheet" href="comm/adviserModify.css" />
</head>
<body>
<div class="content" v-if="isShow">
    <ul>
        <li>
            <select id="province" class="insert input input-first" v-model="provinceValue" v-on:change="provinceChange()">
                <option disabled selected value="">选择所在省/直辖市</option>
                <option v-for="(provinceData, index) in provinceDatas" v-text="provinceData"  :value="getIndex(index)"></option>

            </select>
        </li>
        <li>
            <select id="city" class="insert input" v-model="cityValue">
                <option disabled selected value="">选择所在市/区</option>
                <option v-for="(cityData, index) in cityDatas" v-text="cityData" :value="getIndex(index)"></option>

            </select>
        </li>
        <li>
           <input type="text" id="" placeholder="请填写单位名称" v-model="companyName">
        </li>
        <li>

                <input type="text" placeholder="请填写部门" v-model="companyDept">

        </li>
        <li>

                <input type="text" placeholder="请填写职称（选填）" v-model="companyTitle">

        </li>
    </ul>

    <button class="gen-long-full-btn gen-mgt12" v-on:click="submit" style="background-color: #ff9000">保存并提交</button>
</div>
<script src="lib/connectWebViewJavascriptBridge.js"></script>
<script>
    function getUrlQueryObject(){
        var query = decodeURIComponent(window.location.search.substring(1));
        var urlArray = query.split('&'),queryObj = {};
        urlArray.forEach(function(item){
            var itemArray =  item.split('=');
            queryObj[itemArray[0]] = itemArray[1];
        })
        return queryObj;
    }
    window.alert = function(name){
        var iframe = document.createElement("IFRAME");
        iframe.style.display="none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        window.frames[0].window.alert(name);
        iframe.parentNode.removeChild(iframe);
    }
    /*var pageStatus=1;*/
    var webBridge = webViewBridge();
    webBridge.bridgeInit(function (bridge) {
        bridge.registerHandler('goBack', function (data,responseCallback) {
            var result = {};
                if(window.history.length > 1){
                  result.isClose = false;
                }else{
                  result.isClose = true;
                }

                responseCallback(JSON.stringify(result));
                window.history.back(-1);
        });
    });

    var urlData=getUrlQueryObject();
    console.log(urlData);

    var vm = new Vue({
        el:".content",
        data:{
            provinceValue : '',
            cityValue: '',
            provinceDatas:[],
            cityDatas:[],
            areaDatas:{},
            companyName:'',
            companyDept:'',
            companyTitle:'',
            isShow:false,
            isProChecked:true
        },
        mounted: function(){
            this.$http.get('/1/indexes/regions').then(function(rs){
                this.isShow = true;
                console.log(rs);
                this.areaDatas=rs.body;
                for(var i=0; i<rs.body.length; i++){
                    this.provinceDatas.push(rs.body[i].name)
                }

                console.log(this.provinceDatas[12]);
                if(urlData.province){
                    for(var i=0; i< this.provinceDatas.length;i++){
                        if(this.provinceDatas[i]==urlData.province){
                            console.log(i);
                            this.provinceValue=i;
                            vm.provinceChange();
                            for(var j=0; j < this.cityDatas.length; j++){
                                if(urlData.city){
                                    if(urlData.city == this.cityDatas[j]){
                                        this.cityValue=j;
                                    }
                                }
                            }
                        }
                    }
                }
            });
            this.companyName = urlData.companyName || '';
            this.companyDept = urlData.companyDept || '';
            this.companyTitle = urlData.companyTitle || '';
        },
        methods: {
            provinceChange: function () {
                console.log(vm.provinceValue);
                vm.cityDatas = [];

                if (vm.areaDatas[vm.provinceValue]) {
                    console.log(vm.areaDatas[vm.provinceValue]);
                    for (var i = 0; i < vm.areaDatas[vm.provinceValue].subArea.length; i++) {
                        vm.cityDatas.push(vm.areaDatas[vm.provinceValue].subArea[i].name);
                    }
                    vm.cityValue = '';
                }
            },
            getIndex: function (index) {
                return index;
            },
            submit: function () {
                if(vm.provinceValue===''){
                    alert("请选择所在省/直辖市");
                    return;
                }
                if(vm.cityValue===''){
                    alert("请选择所在市/区");
                    return;
                }
                if(vm.companyName==''){
                    alert("请填写单位名称");
                    return;
                }
                if(vm.companyDept==''){
                    alert("请填写部门");
                    return;
                }
                var postData = {};
                postData.province = vm.provinceDatas[vm.provinceValue];
                postData.city = vm.cityDatas[vm.cityValue];
                postData.hospital = vm.companyName;
                postData.department = vm.companyDept;
                postData.position = vm.companyTitle || "";
                console.log(postData);
                var urlData = getUrlQueryObject();
                this.$http({
                    method: 'POST',
                    url: "/1/customer/modifyProfileInfo",
                    body:postData,
                    headers : {
                        "x-docchat-user-id":urlData.userId,
                        "x-docchat-session-token":urlData.token
                    }}).then(function (data) {
                    console.log(postData);
                    webBridge.upload("finishActivity",JSON.stringify(data));
                },function(err){
                    console.log(postData)
                    console.log("提交失败");
                })
            }
        }
    });
</script>
</body>
</html>