/*会员说明*/
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
div{
    width: 100%;
    height: 100%;
}
div p{
    margin-left: 12px;
    margin-top: 15px;
    margin-right: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.space{
    margin-top: 30px;
}
.question{
    font-size: 14px;
    color: #ff9000;
}