<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>选择渠道</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.min.js"></script>
    <link href="select-channel.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="vueApp" v-cloak>
    <div id="mask" v-show="defaultShow" @click="maskClick"></div>
    <div id="regions-wrapper" v-show="defaultShow">
        <div class="regions provinces">
            <div :class="{ region: true, province: true, 'region-selected': index == provinceSelectedIndex}"
                 @click="provinceClick(index, $event)"
                 @mousedown="mouseDown"
                 @touchstart="mouseDown"
                 @touchend="mouseUp"
                 @mouseup="mouseUp"
                 v-for="(province, index) in provinces"
                 :id="'province-' + province"
                 :index="index"
                 :ref="'province-' + province"
            >{{province}}</div>
        </div>
        <div class="regions cities">
            <div :class="{ region: true, city: true, 'region-selected': index == citySelectedIndex}"
                 @click="cityClick(index, $event)"
                 @mousedown="mouseDown"
                 @touchstart="mouseDown"
                 @touchend="mouseUp"
                 @mouseup="mouseUp"
                 v-for="(city, index) in provinceCityMap[defaultProvince]"
                 :id="'city-' + getCity(city)"
                 :ref="'city-' + city"
            >{{getCity(city)}}</div>
        </div>
        <div class="regions counties">
            <div :class="{ region: true, county: true, 'region-selected': index == countySelectedIndex}"
                 @click="countyClick(index, $event)"
                 @mousedown="mouseDown"
                 @touchstart="mouseDown"
                 @touchend="mouseUp"
                 @mouseup="mouseUp"
                 v-for="(county, index) in cityCountyMap[defaultProvince + ':' + defaultCity]"
                 :id="'county-' + county"
                 :ref="'county-' + county"
                 :index="index"
            >{{county}}</div>
        </div>
    </div>
    <div id="selected-region-wrapper" @click="selectClick">
        <span id="selected-region">{{defaultRegion}}</span>
        <img class="selected-region-arrow" v-show="!defaultShow" src="arrowdown@2x.png">
        <img class="selected-region-arrow" v-show="defaultShow" src="arrowup@2x.png">
    </div>
    <div id="filler"></div>
    <div id="channels">
        <div class="channel" v-for="pinyin in pinyinArray">
            <a class="channel-pinyin" v-bind="{name: pinyin}" >{{pinyin}}</a>
            <div class="channel-name"
                 v-for="item in pinyinChannelMap[pinyin]"
                 @click="channelClick(item._id, item.name, $event)"
                 @touchstart="channelTouchStart"
                 @touchend="channelTouchEnd"
            >{{item.name}}</div>
        </div>
    </div>
    <div id="letters-wrapper">
        <div id="letters">
            <a class="letter" v-for="pinyin in pinyinArray" v-bind="{href: '#' + pinyin}">{{pinyin}}</a>
        </div>
    </div>
</div>


<script type="application/javascript">
/*  var channels = [
    {
      "name": "北协和医院",
      "namePinYin": "Beixieheyiyuan",
      "_id": "mock"
    },
    {
      "name": "北同仁堂大药房",
      "namePinYin": "Beitongrentangdayaofang",
      "_id": "mock"
    },
    {
      "name": "天津协和医院",
      "namePinYin": "Tianjingxieheyiyuan",
      "_id": "mock"
    },
  ];
  var regions = [
    {
      "province": {
        "_id": "mock",
        "name": "河南省",
        "type": "mock"
      },
      "city": {
        "_id": "mock",
        "name": "郑州市",
        "type": "mock"
      },
      "county": {
        "_id": "mock",
        "name": "二七区",
        "type": "mock"
      }
    },
    {
      "province": {
        "_id": "mock",
        "name": "河南省",
        "type": "mock"
      },
      "city": {
        "_id": "mock",
        "name": "郑州市",
        "type": "mock"
      },
      "county": {
        "_id": "mock",
        "name": "郑东新区",
        "type": "mock"
      }
    },
    {
      "province": {
        "_id": "mock",
        "name": "河南省",
        "type": "mock"
      },
      "city": {
        "_id": "mock",
        "name": "信阳市",
        "type": "mock"
      },
      "county": {
        "_id": "mock",
        "name": "潢川县",
        "type": "mock"
      }
    },
    {
      "province": {
        "_id": "mock",
        "name": "北京市",
        "type": "mock"
      },
      "city": {
        "_id": "mock",
        "name": "北京市",
        "type": "mock"
      },
      "county": {
        "_id": "mock",
        "name": "海淀区",
        "type": "mock"
      }
    },
  ];*/
function getParams() {
  //获取静态页面参数
  var searchStr = decodeURI(location.search);
  console.log('serarchStr:', searchStr);
  var obj = {};
  searchStr.substr(1).split('&').forEach(function (item) {
    var itemArr = item.split('=');
    obj[itemArr[0]] = itemArr[1] || '';
  });
  console.log('obj:', obj);
  return obj;
}
var paramsObj = getParams();
  var vm = new Vue({
    el: '#vueApp',
    data: {
      pinyinArray: [],
      pinyinChannelMap: {},
      provinces: [],
      provinceCityMap: {},
      cityCountyMap: {},
      defaultRegion: '全部地区',
      defaultProvince: '全部地区',
      defaultCity: '',
      defaultShow: false,
      provinceSelected: paramsObj && paramsObj['province'] || '', //#province-河南省
      citySelected: paramsObj && paramsObj['city'] || '', //#city-郑州市
      countySelected: paramsObj && paramsObj['county'] || '', //#county-二七区
      provinceSelectedIndex: -1,
      citySelectedIndex: -1,
      countySelectedIndex: -1,
    },

    methods: {
      setRef: function (pre, region) {
        var ref = pre + '-' + region;
        console.log("ref:", ref);
        return ref;
      },
      getCity: function (city) {
        return city.split(':')[1] || city.split(':')[0];
      },
      mouseDown: function (event) {
        console.log('come in mouse down');
        var target = event.target;
        target.classList.add('region-click-down');
      },
      mouseUp: function (event) {
        console.log('come in mouse up');
        var target = event.target;
        target.classList.remove('region-click-down');
      },
      selectClick: function (event) {
        console.log('selectClick:', this.provinceSelected, this.citySelected, this.countySelected);
        console.log(this.$refs);
        // console.log(this.$refs, this.$refs['province-0'],this.$refs['province-0'][0].innerText);
        if(!this.defaultShow && this.provinceSelected == '全部地区'){
          this.defaultProvince = '';
          this.defaultCity = '';
          var provinceSelectedEleArr = this.$refs['province-' + this.provinceSelected];
          var provinceSelectedEle = provinceSelectedEleArr && provinceSelectedEleArr[0] ||
            provinceSelectedEleArr;
          var index = provinceSelectedEle.getAttribute('index');
          this.provinceSelectedIndex = index;
        }else if(!this.defaultShow && this.provinceSelected && this.citySelected && this.countySelected){
            this.defaultProvince = '';
            this.defaultCity = '';
            var provinceSelectedEleArr = this.$refs['province-' + this.provinceSelected];
            var provinceSelectedEle = provinceSelectedEleArr && provinceSelectedEleArr[0] ||
              provinceSelectedEleArr;
            provinceSelectedEle.click();
            var self = this;
            var timeoutId = setTimeout(function () {
              var citySelectedEleArr = self.$refs['city-' + self.citySelected];
              var citySelectedEle = citySelectedEleArr && citySelectedEleArr[0] ||
                citySelectedEleArr;
              citySelectedEle.click();
              clearTimeout(timeoutId);
              var timeoutId_2 = setTimeout(function () {
                var countySelectedEleArr = self.$refs['county-' + self.countySelected];
                var countySelectedEle = countySelectedEleArr && countySelectedEleArr[0] ||
                  countySelectedEleArr;
                var index = countySelectedEle.getAttribute('index');
                self.countySelectedIndex = index;
                clearTimeout(timeoutId_2);
              },10)
            },10)

        }
        this.defaultShow = !this.defaultShow;
      },
      provinceClick: function (index, event) {
        console.log('come in provinceClick', index);
        this.provinceSelectedIndex = index;
        this.citySelectedIndex = -1;
        var target = event.target;
        var text = target.innerText;
        console.log("text:", text);
        this.defaultProvince = text;
        this.defaultCity = '';
        console.log('vm.defaultProvince :', this.defaultProvince );
        if( text === '全部地区'){
          var self = this;
          $.get('/1/drugAllowance/searchDrugChannel', function (res) {
            self.defaultRegion = text;
            self.defaultShow = false;
            self.provinceSelected = text;
            self.citySelected =  '';
            self.countySelected = '';
            getChannels(res.data);
          })
        }
      },
      cityClick: function (index, event) {
        console.log('come in cityClick', index, event);
        this.citySelectedIndex = index;
        this.countySelectedIndex = -1;

        console.log('countySelectedIndex:', this.countySelectedIndex);

        var target = event.target;
        var text = target.innerText;
        this.defaultCity = text;
        console.log('this.defaultCity:', this.defaultCity);
      },
      countyClick: function (index, event) {
        console.log('come in countyClick', index, event);
        this.countySelectedIndex = index;
        var target = event.target;
        var text = target.innerText;
        this.defaultRegion = text;
        this.defaultShow = false;
        this.provinceSelected = this.defaultProvince;
        this.citySelected = this.defaultCity;
        this.countySelected = text;
        $.get('/1/drugAllowance/searchDrugChannel?type=county&name=' + text, function (res) {
          getChannels(res.data);
        })

      },
      channelClick: function (id, name, event) {
        location.href = '/drug_auditor_manager/login?channel_id=' + (id || '') + '&channel_name=' + (name || '') +
          '&province=' + (this.provinceSelected || '') + '&city=' + (this.citySelected || '') +
            '&county=' + (this.countySelected || '') + '&name=' + (paramsObj && paramsObj.name || '') +
          '&phone=' + (paramsObj && paramsObj.phone || '');
      },
      channelTouchStart: function (event) {
        var target = event.target;
        target.classList.add('channel-name-selected');
      },
      channelTouchEnd: function (event) {
        var target = event.target;
        target.classList.remove('channel-name-selected');
      },
      maskClick: function (event) {
        this.defaultShow = false;
        this.defaultProvince = '';
        this.defaultCity = '';
      }
    }
  });
function getChannels (channels) {
  var pinyinChannelMap = {};
  pinyinChannelMap = _.groupBy(_.filter(channels, function (channel) {
    return channel.namePinYin;
  }), function (channel) {
    if(channel.namePinYin && channel.namePinYin[0])
        return channel.namePinYin[0].toUpperCase();
    return '';
  });
  console.log('pinyinChannelMap:', pinyinChannelMap);
  Object.keys(pinyinChannelMap).forEach(function (key) {
    console.log('key:', key);
    pinyinChannelMap[key] = _.orderBy(pinyinChannelMap[key], ['namePinYin'], ['asc']);
  });
  vm.pinyinArray = _.orderBy(Object.keys(pinyinChannelMap));
  vm.pinyinChannelMap = pinyinChannelMap;
  }
function getRegions(regions) {
  // 获取所有的身份, 获取每个省下的所有市，获取每个市下所有的县
  vm.provinces = _.map(regions, 'province.name');
  vm.provinces.unshift('全部地区')
  var provinceCityMap = {};
  var cityCountyMap = {};
  _.forEach(_.filter(regions, function (region) {
    return region.province && region.province.name;
  }), function (region) {
    var name = region.province.name;
    provinceCityMap[name] = _.map(region.province.city, function (city) {
      cityCountyMap[region.province.name + ":" + city.name] = _.map(city.county || [], function (county) {
        return county.name
      })
      return city.name;
    })
  })
  vm.provinceCityMap = provinceCityMap;
  vm.cityCountyMap = cityCountyMap;
}
/*getChannels(channels);
getRegions(regions);*/
$.get('/1/drugAllowance/searchDrugChannel', function (res) {
  getChannels(res.data);
})
$.get('/1/drugAllowance/webSearchCityList', function (res) {
  getRegions(res.data);
})
</script>
</body>
</html>