<link href="../assets/styles/style.css" rel="stylesheet">
<link href="../assets/styles/menus.css" rel="stylesheet">

<div class="page-header">
    <h1>新增
        <small>医生信息</small>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2 rmL">
            <!--
            <ul class="list-group">
                <li class="list-group-item" style="white-space:nowrap;"
                    ng-repeat="listItem in doctorList track by $index">

                    <div ng-click="doctorDetail(listItem)">
                        <span id="department">{{listItem.relatedHospital[0].departmentName}}</span>
                        <span id="name">{{listItem.name}}</span>
                    </div>

                </li>
            </ul>
             -->
        </div>

        <div class="col-sm-10 rmR">
            <div class="row">
                <div class="col-sm-4 rmL">
                    <div class="input-group">
                        <div class="input-group-addon">管理者</div>
                        <input type="text" class="form-control" id="doctor_managerName" ng-model="doctor.managerName"
                               placeholder="管理者姓名">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-btn dropdown" id="hospitals">
                            <a type="button" class="btn btn-default dropdown-toggle" ng-click="getHositals()"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">医院 <span
                                    class="caret"></span></a>
                        </div>
                        <input type="text" class="form-control" id="hospitals_key_value" aria-label="...">
                        <input type="hidden" id="hospitals_value">
                        <input type="hidden" id="hospitals_layer_value">
                    </div>
                </div>
                <div class="col-sm-4 rmR">
                    <div class="input-group">
                        <div class="input-group-btn dropdown" id="departments">
                            <a type="button" class="btn btn-default dropdown-toggle" ng-click="getdepartments()"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">科室 <span
                                    class="caret"></span></a>
                        </div>
                        <input type="text" class="form-control" id="departments_key_value" aria-label="...">
                        <input type="hidden" id="departments_value">
                        <input type="hidden" id="departments_layer_value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 rmL">
                    <div class="input-group">
                        <div class="input-group-addon">姓&nbsp;&nbsp;&nbsp;名</div>
                        <input type="text" class="form-control" id="doctor_realName" ng-model="doctor.realName"
                               placeholder="请输入医生姓名">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">职&nbsp;&nbsp;&nbsp;称</div>
                        <input type="text" class="form-control" id="doctor_position" ng-model="doctor.position"
                               placeholder="请输入医生职称">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">电&nbsp;&nbsp;&nbsp;话</div>
                        <input type="text" class="form-control" id="doctor_phoneNum" ng-model="doctor.phoneNum"
                               placeholder="请输入医生电话">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 rmL">
                    <div class="input-group">
                        <div class="input-group-addon">性&nbsp;&nbsp;&nbsp;别</div>
                        <input type="text" class="form-control" id="doctor_sex" ng-model="doctor.sex"
                               placeholder="男/女" value="男">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">医聊号</div>
                        <input type="text" class="form-control" id="doctor_docChatNum" ng-model="doctor.docChatNum"
                               placeholder="请输入医生医聊号">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">折&nbsp;&nbsp;&nbsp;扣</div>
                        <input type="number" class="form-control" id="doctor_callPrice_discount"
                               ng-model="doctor.callPrice.discount"
                               value="1">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 rmL">
                    <div class="input-group">
                        <div class="input-group-addon">医生起步时长</div>
                        <input type="number" class="form-control" id="doctor_callPrice_doctorInitiateTime"
                               ng-model="doctor.callPrice.doctorInitiateTime"
                               value="5">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">医生起步价</div>
                        <input type="number" class="form-control" id="doctor_callPrice_initiateIncome"
                               ng-model="doctor.callPrice.initiateIncome"
                               placeholder="请输入医生起步价">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">医生每分钟收入</div>
                        <input type="number" class="form-control" id="doctor_callPrice_incomePerMin"
                               ng-model="doctor.callPrice.incomePerMin"
                               placeholder="请输入起步时长后每分钟医生收入">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 rmL">
                    <div class="input-group">
                        <div class="input-group-addon">患者起步时长</div>
                        <input type="number" class="form-control" id="doctor_callPrice_customerInitiateTime"
                               ng-model="doctor.callPrice.customerInitiateTime"
                               value="3">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">患者起步价</div>
                        <input type="number" class="form-control" id="doctor_callPrice_initiatePayment"
                               ng-model="doctor.callPrice.initiatePayment"
                               placeholder="请输入患者起步价">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-4 rm">
                    <div class="input-group">
                        <div class="input-group-addon">患者每分钟支出</div>
                        <input type="number" class="form-control" id="doctor_callPrice_paymentPerMin"
                               ng-model="doctor.callPrice.paymentPerMin"
                               placeholder="请输入起步时长后每分钟患者支出">
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 rm">
                    <div class="input-group">
                        <div class="input-group-addon">留&nbsp;&nbsp;&nbsp;言</div>
                        <textarea class="form-control" rows="5" ng-model="doctor.message2Customer"></textarea>
                        <span class="glyphicon  form-control-feedback " aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px">
                <div class="col-sm-3 rm">
                </div>
                <div class="col-sm-6 rm">
                    <button class="btn btn-success btn-block" ng-click="create()" type="submit">提交</button>
                </div>
                <div class="col-sm-3 rm">
                </div>
            </div>
        </div>
    </div>
</div>