<link rel="stylesheet" href="../assets/styles/list.css">

<div class="container-fluid">
    <!--
        <div style="text-align: left;margin-left: 120px; margin-top: 10px;">
        <a id="orderType" class="btn btn-success" ng-click="switchType()">有效订单</a>
    </div>
    -->
    <table id="mainTable" class="table table-bordered table-hover">
        <thead id="thead">
        <tr style="font-family: '宋体'; font-size: 14px; font-weight: bold">
            <td>时间</td>
            <td>订单号</td>
            <td>医生姓名</td>
            <td>患者姓名/电话</td>
            <td>定价及有效期</td>
            <td>实际需支付</td>
            <td>支付方式</td>
            <td>支付状态</td>
        </tr>
        </thead>
        <tbody id="brokerArea">
        <tr ng-repeat="data in datas " style="text-align: center">
            <td>{{data.createdAt|date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{data.orderNo}}</td>
            <td>{{data.doctorRealName}}</td>
            <td>{{data.customerName +"/"+data.customerPhoneNum}}</td>
            <td>
                {{data.exclusiveDoctorPrice|exclusiveDoctorPriceAndTimeFilter:data.exclusiveDoctorStartServiceTime:data.exclusiveDoctorEndServiceTime}}
            </td>
            <td>{{data.exclusiveDoctorPrice - data.couponDeductedRMB}}</td>
            <td>{{data.exclusiveDoctorPayType == 0?'支付宝':'微信'}}</td>
            <td><h4>
                <span class="label label-lg {{data.payStatus=='paid'? 'label-success':'label-default'}} ">
               {{data.payStatus=='paid'?'已支付': '未支付'}}
                </span></h4>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="buttom"><a class="btn btn-success" ng-click="PrePage()">上一页</a>&nbsp;&nbsp;<a
            class="btn btn-warning" ng-click="NextPage()">下一页</a></div>
</div>