<link rel="stylesheet" href="../assets/styles/list.css">

<div class="container-fluid">
    <table id="mainTable" class="table table-bordered table-hover">
        <thead id="thead">
        <tr style="font-family: '宋体'; font-size: 14px; font-weight: bold">
            <td>申请时间</td>
            <td>申请人</td>
            <td>进度</td>
        </tr>
        </thead>
        <tbody id="brokerArea">
        <tr ng-repeat="data in datas " style="text-align: center">
            <td>{{data.createdAt|date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{data.applicantName}}</td>
            <td>{{data.status|statusFilter}}</td>
        </tr>
        </tbody>
    </table>
    <div id="buttom"><a class="btn btn-success" ng-click="PrePage()">上一页</a>&nbsp;&nbsp;<a
            class="btn btn-warning" ng-click="NextPage()">下一页</a></div>
</div>