<link rel="stylesheet" href="../assets/styles/list.css">

<div class="container-fluid">
    <div
            style="text-align: right; position: relative; right: 100px; margin-top: 10px;"
            class="form-inline">
        <input style="font-family: '宋体'; font-weight:normal" id="phoneNum"
               type="text" class="form-control" placeholder="手机号码"
               value=""/>
        <a class="btn btn-primary" ng-click="queryPhone()">查询</a>
    </div>
    <table id="mainTable" class="table table-bordered table-hover">
        <thead id="thead">
        <tr style="font-family: '宋体'; font-size: 14px; font-weight: bold">
            <td>姓名</td>
            <td>医聊号</td>
            <td>名片数</td>
            <td>扫码数</td>
            <td>下载数</td>
            <td>查询数</td>
            <td>收藏数</td>
            <td>分享数</td>
            <td>电话总数</td>
            <td>今日电话数</td>
            <td>实际收入</td>
            <td>余额</td>
            <td>平台收入</td>
            <td>当前状态</td>
        </tr>
        </thead>
        <tbody id="brokerArea">
        <tr ng-repeat="data in datas " style="text-align: center">
            <td>{{data.realName}}</td>
            <td>{{data.docChatNum}}</td>
            <td>{{data.bussinessCardNum}}</td>
            <td>{{data.todayScannedNum}}/{{data.scannedNum}}</td>
            <td>{{data.todayDownloadNum}}/{{data.downloadNum}}</td>
            <td><a ng-click="queryByDevices(data._id)">{{data.todayQueryNum}}/{{data.queryByDeviceIds.length}}</a></td>
            <td><a ng-click="favorites(data._id)">{{data.todayFavoritedNum}}/{{data.favoritedNum}}</a></td>
            <td>{{data.todaySharedNum}}/{{data.sharedNum}}</td>
            <td><a ng-click="orders(data._id)">{{data.orderNum}}</a></td>
            <td>{{data.todayOrderNum}}</td>
            <td>{{data.income}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.platformIncome}}</td>
            <td><h4>
                <span class="label label-lg {{data.isOnline? 'label-success':'label-default'}} ">
                {{ data.isOnline?"上班":"下班"}}
                </span></h4></td>
        </tr>
        </tbody>
    </table>
    <div id="buttom"><a class="btn btn-success" ng-click="PrePage()">上一页</a>&nbsp;&nbsp;<a
            class="btn btn-warning" ng-click="NextPage()">下一页</a></div>
</div>