<link rel="stylesheet" href="../assets/styles/list.css">

<div class="container-fluid">
    <table id="mainTable" class="table table-bordered table-hover">
        <thead id="thead">
        <tr style="font-family: '宋体'; font-size: 14px; font-weight: bold">
            <td>姓名</td>
            <td>电话</td>
            <td>充值金额</td>
            <td>支出金额</td>
        </tr>
        </thead>
        <tbody id="brokerArea">
        <tr ng-repeat="data in datas " style="text-align: center">
            <td>{{data.name}}</td>
            <td>{{data.phoneNum}}</td>
            <td><a ng-click="rechargeDetail(data.userId)">{{data.recharge}}</a></td>
            <td><a ng-click="orders(data.userId)">{{(data.payment == undefined) ? 0 : data.payment}}</a></td>
        </tr>
        </tbody>
    </table>
    <div id="buttom"><a class="btn btn-success" ng-click="PrePage()">上一页</a>&nbsp;&nbsp;<a
            class="btn btn-warning" ng-click="NextPage()">下一页</a></div>
</div>