<link rel="stylesheet" href="../assets/styles/list.css">

<div class="container-fluid">
    <table id="mainTable" class="table table-bordered table-hover">
        <thead id="thead">
        <tr style="font-family: '宋体'; font-size: 14px; font-weight: bold">
            <td>领券时间</td>
            <td>姓名</td>
            <td>电话</td>
            <td>注册时间</td>
            <td>使用拜年券时间</td>
            <td>注册设备</td>
        </tr>
        </thead>
        <tbody id="brokerArea">
        <tr ng-repeat="data in datas " style="text-align: center">
            <td>{{data.createdAt|date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{data.boundUserName}}</td>
            <td>{{data.boundUserPhoneNum}}</td>
            <td>{{data.registerAt|date: 'yyyy-MM-dd HH:mm'}}</td>
            <td><a ng-click="orders(data.boundUserId)">{{data.isConsumed|couponConsumedFilter:data.updatedAt}}</a></td>
            <td>{{data.deviceId.length ==36 ? 'IOS':(data.deviceId?'Android':'')}}</td>
        </tr>
        </tbody>
    </table>
</div>